
<style>
  .popular-header {
	display: flex;
	gap: 16px;
	align-items: center;
}

.search-selector-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
	width: calc(100% - 56px);
}


.search-selector {
	max-width: 240px;
	width: 100%;
}


.search-selector select {
	width: 100%;
	padding: 10px 12px;
	border: 0.5px solid var(--color-primary-content-50, rgba(18, 18, 18, 0.5));
	background: var(--color-white-100, #fff);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #8c8c8c;
}
.popular-header .search-input input {
	font-size: 16px;
	padding: 9px 12px;
	width: 100%;
}

.popular-header .search-input {
	width: 240px;
	text-align: right;
	flex-shrink: 0;
}

.product-page-wrapper .popular-card {
	width: calc(33.33% - 16px);
	flex: unset;
}

@media (max-width: 1024px) {
	.product-page-wrapper .popular-card {
		width: calc(50% - 12px);
		flex: unset;
	}
}
@media (max-width: 991px) {
	.product-page-wrapper .popular-card {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.popular-header,
	.search-selector-wrapper {
		flex-direction: column;
	}
	.search-selector-wrapper {
		width: 100%;
	}
	.popular-header .search-input {
		width: 100%;
	}
}








</style>
<div class="product-page-wrapper">
<div class="popular-question-block">
  <div class="popular-content-wrapper page-width">

  <div class="popular-header">


    {% if show_topic_dropdown %}
      <div class="search-selector">
        <select id="selectTopic" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}

    {% if show_product_dropdown %}
      <div class="search-selector">
        <select id="selectProduct" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}

    {% if show_collection_dropdown %}
      <div class="search-selector">
        <select id="selectCollection" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}
    

      <div class="search-input">
        <input id="searchFAQ" type="text" placeholder="search" oninput="debouncedSearch(event)" />
      </div>

    </div>
 
    <div class="popular-card-wrapper" id="searchListigBody" data-search-blocks-to-show="8">
     
    </div> 

    <div class="browse-categories" id="loadBtnDiv">
        <button id="loadMoreBtn"  >Load More</button>
    </div>


  </div>
  </div>

  </div>




<script>

var currentPage = 1;

const loadMoreBtn = document.getElementById('loadMoreBtn');

function handleDropDownChange(event) {  

   //This we have added if some one searches we setting the page count to 1
    if(event.target.id=="searchFAQ"){
      currentPage = 1
    }
     getFilterValuesAndCallFunc()
  }


loadMoreBtn.addEventListener('click', () => {
  currentPage++;
  getFilterValuesAndCallFunc();
});


function getFilterValuesAndCallFunc(){
    let filter = document.getElementById('searchFAQ')?.value;

    //These can be from the url on can be from the dropdown, if they are from url they are intialized and there values set from there respective pages
    let topic = document.getElementById('selectTopic')?.value || topicID;
    let product = document.getElementById('selectProduct')?.value || productID;
    let collection = document.getElementById('selectCollection')?.value || collectionID;

    fetchFAQsByFilters(categoryID, filter, topic, currentPage, product, collection);
  }


</script>