<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style>
  .product-category-slider-wrapper .swiper-button-prev, .product-category-slider-wrapper .swiper-button-next {
    display: block!important;
  }
  .product-category-slider-wrapper .tab-content-wrapper {
    justify-content: flex-start;
    gap: 0;
  }
  .swiper {
      width: 100%;
      height: 100%;
  }
  
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  @media screen and (max-width: 1180px) {
    .product-category-slider-wrapper .tab-content-wrapper {
      gap: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
   .product-category-slider-wrapper .tab-card{
      max-width: 100%;
    }
}
</style>


<div class="category-block">
  <div class="category-content-wrapper page-width">



    <div class="category-tab-wrapper" id="categoryTabWrapper">


      <div class="tab-body swiper mySwiper product-category-slider-wrapper">
        <div class="swiper-wrapper tab-content-wrapper" id="productPartsByProduct">
        
         
        </div>
         <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      </div>
     

    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>

  function getProductsPartsByProductID(product_id){
    const container = document.getElementById('productPartsByProduct');

    if(!container){
      console.error('productPartsByProduct wrapper container not found');
      return;
    }

    emptyContainerHtml(container)

    fetch(evenFloFAQURL + `product_parts/by/product/${product_id}`)
    .then(response => response.json())
    .then(data => {
      
    const categoryTabContainer= document.getElementById('categoryTabWrapper');

    if (categoryTabContainer && data?.length > 0) {
                const headingDiv = document.createElement('div');
                headingDiv.classList.add('heading', 'center');

                const headingH2 = document.createElement('h2');
                headingH2.id = 'relatedPartHeading';
                headingH2.textContent = 'Related Parts';

                headingDiv.appendChild(headingH2);
                categoryTabContainer.prepend(headingDiv);
            }

        const blocksToShow =6;
        data?.slice(0, blocksToShow).forEach((product) => {
          const tabCard = document.createElement('div');
          tabCard.classList.add('swiper-slide','tab-card');

          
          tabCard.innerHTML = `
          <a target="_blank" href="${product?.product_part_link}">
           <div class="tab-img">
              <img
                src=${product?.image}
                alt="tab-img"
              />
            </div>
            <div class="tab-content">
              <h4>${product?.name}</h4>
            </div>
          </a>
          `;

          container.appendChild(tabCard);
        });
      
     if(document.querySelectorAll(".product-category-slider-wrapper .tab-card").length > 4){
                document.querySelector(".product-category-slider-wrapper").classList.remove("product-slider-wrapper-hide");
				customSlider(); 
              }else{
                    document.querySelector(".product-category-slider-wrapper").classList.add("product-slider-wrapper-hide");
                  }
     
    })
    .catch(error => {
      console.error('Error fetching product parts:', error);
    });
  
}

</script>