<div class="category-block">
  <div class="category-content-wrapper page-width">

    {% if show_title %}
    <div class="heading center">
      <h1>{{ category_title }}</h1>
    </div>
  {% endif %}

    <div class="category-tab-wrapper" id="categoryTabWrapper">

      <div id="categoriesContainer" class="tab-header" data-categories-to-show="{{ categories_to_show }}">
         <!-- Loader -->
         <div id="categoriesLoader" class="loader" style="display: none;"></div>
      </div>

      <div class="tab-body">
        <div class="tab-content-wrapper" id="productsByCategory" data-faqs-to-show="{{ products_to_show }}">
          <!-- Loader -->
          <div id="productByCategoriesLoader" class="loader" style="display: none;"></div>
         
        </div>
      </div>

      {% if show_title %}
        <div class="browse-categories" id="browseCategoriesDiv">

        </div>
      {% endif %}
     

    </div>
  </div>
</div>


<script>
 function getPaginatedCategories() {
   // Show the loader
   const loader = document.getElementById('categoriesLoader');
   if (loader) {
    loader.style.display = 'block';
  }
  
  fetch(evenFloFAQURL + 'products/getAllCategories?show=true')
    .then(response => response.json())
    .then(data => {
      getProductsByCategory(data[0]?.id,data[0]?.category_name);

      const categoriesBlock = document.getElementById('categoriesContainer');
      const blocksToShow = categoriesBlock ? categoriesBlock.dataset.categoriesToShow : 3;
      
      const container = document.querySelector('.tab-header'); 
      container.innerHTML = ""; // Clear previous buttons

      data?.forEach((category, index) => {
        const categoryTag = document.createElement('button');
  
        const isActive = index === 0 ? "active" : "";
        if (isActive) {
          categoryTag.classList.add(isActive);
        }
        
        categoryTag.innerHTML = category?.category_name;

        // Appending an onclick function to all the buttons
        categoryTag.onclick = function() {
          // Removing "active" class from all buttons inside the .tab-header container
          const allButtons = container.querySelectorAll('button');
          allButtons.forEach(button => button.classList.remove("active"));

          // Adding "active" class to the clicked button
          categoryTag.classList.add("active");

          // Fetch products for the selected category
          getProductsByCategory(category.id,category.category_name);
        };

        container.appendChild(categoryTag);
      });
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        loader.style.display = 'none';
      }
    });
}



  document.addEventListener('DOMContentLoaded', () => {
    
    getPaginatedCategories();
  });
</script>