<div class="page-width"> 
  <div class="search-listing-wrapper">
    <div class="search-listing-header2">

    {% if show_topic_dropdown %}
      <div class="search-selector">
        <select id="selectTopic" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}

    {% if show_product_dropdown %}
      <div class="search-selector">
        <select id="selectProduct" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}

    {% if show_collection_dropdown %}
      <div class="search-selector">
        <select id="selectCollection" onchange="handleDropDownChange(event)"></select>
      </div>
    {% endif %}
    

      <div class="search-input">
        <input id="searchFAQ" type="text" placeholder="search" oninput="debouncedSearch(event)" />
      </div>
    </div>
 
    <div class="search-listing-body" id="searchListigBody" data-search-blocks-to-show="8">
     
    </div> 

    <div class="browse-categories" id="loadBtnDiv">
        <button id="loadMoreBtn"  >Load More</button>
    </div>
  </div>

</div>


<script>

var currentPage = 1;

var categoryID = "";
var topicID = "";
var collectionID = "";
var productID = "";

const loadMoreBtn = document.getElementById('loadMoreBtn');

function handleDropDownChange(event) {  
  console.log('event',event);
     getFilterValuesAndCallFunc()
  }


loadMoreBtn.addEventListener('click', () => {
  currentPage++;
  getFilterValuesAndCallFunc();
});


function getFilterValuesAndCallFunc(){
    let filter = document.getElementById('searchFAQ')?.value;

    //These can be from the url on can be from the dropdown, if they are from url they are intialized and there values set from there respective pages
    let topic = document.getElementById('selectTopic')?.value || topicID;
    let product = document.getElementById('selectProduct')?.value || productID;
    let collection = document.getElementById('selectCollection')?.value || collectionID;

    fetchFAQsByFilters(categoryID, filter, topic, currentPage, product, collection);
  }



  function fetchFAQsByFilters(categoryID="", filter = "", topicsID = "",page=1,productID = "", collectionID= "") {
    const container = document.getElementById('searchListigBody');

    if(!container){
      console.error('searchListigBody wrapper container not found');
      return;
    }
    
    loadMoreBtn.style.display="none";

    if(page==1){
      emptyContainerHtml(container)
      
    }

    const loader=appendLoader(container)

    fetch(evenFloFAQURL + `faqs/getFilteredFaqs?filter=${filter}&page=${page}&category_id=${categoryID}&topics_id=${topicsID}&product_id=${productID}&collection_id=${collectionID}`)
      .then(response => response.json())
      .then(data => {

        data?.results?.forEach((product) => {
          const popularCard = createPopularCardDivElement("popular-card");

          const faqsContent = getFAQContent(product?.products || []);

          const tags = getTagsArray(product?.tags || []);

          const tagsHtml = getTagsHtml(tags);

          popularCard.innerHTML = setFAQBlockInnerHtml(
            product?.topic?.name || "",
            product.question,
            faqsContent,
            product.answer,
            //product?.id,
            "",
            tagsHtml
          );

          container.appendChild(popularCard);
        });

        if(data?.next){
          loadMoreBtn.style.display="block";
        }else{
          loadMoreBtn.style.display="none";
        }

        
      })
      .catch(error => {
        console.error('Error fetching products:', error);
      })
      .finally(() => {
        if (loader) {
         hideLoader(loader);
         toggleAnswerBullet();
        }
      });
  }
</script>