{{ 'section-category-anchors.css' | asset_url | stylesheet_tag }}

<section class="category-anchors anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
      <div class="category-anchor center">
        <h2 class="h1">{{ section.settings.category_anchor }}</h2>
        <div class="rich-text__text rte">
          {{ section.settings.html }}
          {{ section.settings.liquid }}
        </div>
      </div>
  </div>
</section>







{% schema %}
  {
  "name": "Category Anchors",
  "class": "product",
  "settings": [
    {
      "type": "text",
      "id": "category_anchor",
      "label": "Category Anchor",
      "default": "Category",
      "placeholder": "Shop"
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML"
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid"
    }
  ],
  "presets": [
    {
      "name": "Category Anchors"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
