<style>
  .rideshare-wrapper {
    position: relative;
    margin-bottom: 260px;
  }

  .rideshare-image {
    position: absolute;
    left: 1%;
    top: 60%;
  }

  .rideshare-text {
    position: absolute;
    left: 28%;
  }
</style>

<div class="rideshare-wrapper">
  <img
    height=""
    width="100%"
    src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Rectangle1.png?v=1706805647"
  >
  <div class="rideshare-image" style="min-width: 100%; height: auto; width: auto;">
    <img
      style="max-width: 25%; height: auto; width: auto; filter: drop-shadow(8px 8px #bfbfbf)"
      height=""
      width=""
      src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/19012483_Shyft_Rideshare_Sterling_Black_ICS_Attachment.png?v=1706805651"
    >
  </div>
  <div class="rideshare-text">
    <h1 class="heading-underline">BRING YOUR LITTLEST ADVENTURER</h1>
    <p>
      The built-in attachment accepts an Evenflo® LiteMax™ Infant Car Seat (sold separately), with no tools or adapters
      needed.
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Custom Rideshare",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Rideshare"
    }
  ]
}
{% endschema %}
