{{ 'section-benefits .css' | asset_url | stylesheet_tag }}

<section class="product-highlights anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
    <div class="flex-row">
      <h2>Why Evenflo?</h2>

    </div>
      <div class="flex-row">
          <div class="flex-item">
            <h3>Heritage</h3>
            Lorem ipsum dolor selectus ibid druit. Insetius lector dritis lorem ipsum dolor.  Lorem dolorius ibid droti.
          </div>
          <div class="flex-item">
            <h3>Consumer Led</h3>
            Lorem ipsum dolor selectus ibid druit. Insetius lector dritis lorem ipsum dolor.  Lorem dolorius ibid droti.
          </div>
          <div class="flex-item">
            <h3>Safety</h3>
            Lorem ipsum dolor selectus ibid druit. Insetius lector dritis lorem ipsum dolor.  Lorem dolorius ibid droti.
          </div>
          <div class="flex-item">
            <h3>Innovation</h3>
            Lorem ipsum dolor selectus ibid druit. Insetius lector dritis lorem ipsum dolor.  Lorem dolorius ibid droti.
          </div>
          
    </div>
  </div>
</section>



{% schema %}
  {
  "name": "Benefits",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Benefits"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}