{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<style>
  
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>

<div class="product-page-wrapper">



    <div class="product-slider-block">

        <div class="page-width">
            <div class="product-slider-main-wrapper">


                <div class="product-slider-heading center" id="collectionDetail">
                 {% comment %} Content will be dynamic {% endcomment %}
                </div>
                 <div class="swiper mySwiper product-slider-wrapper" >
                    <div class="swiper-wrapper" id="productsInCollection" data-faqs-to-show="6">
                      {% comment %} Content will be dynamic {% endcomment %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
             
        </div>
    </div>
    </div>


</div>

{% render 'faq-load-more-block', show_topic_dropdown:true, show_product_dropdown:true %}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>


function fetchCollectionDetail(collectionID) {
  const container = document.getElementById('collectionDetail');

  if(!container){
      return;
    }
    
   container.innerHTML = "";  // Clear existing content

   const loader = appendLoader(container)

  fetch(`${evenFloFAQURL}collection/${collectionID}/`)
    .then(response => response.json())
    .then(collection => {

    if(collection?.detail && containsString(collection?.detail,errorString())){
          redirectIfNoData([])
          return ""
        }

    fetchProductsByCollection(collectionID);
        fetchFAQsByFilters({ collectionID: collectionID });
        fetchTopicsByType(collectionID);
        fetchDropDownProductsByType(collectionID);
		container.innerHTML = `
       <h1 id="collectionHeading">${collection?.name}</h1>
                    <p id="collectionDescription">${collection?.description}</p>
          `;     
          getBreadCrumbLinks(collection?.name,'collection')
    })
    .catch(error => {
      console.error('Error fetching collection:', error);
      redirectIfNoData([])
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader)
      }
    });
}


function fetchProductsByCollection(collectionID){
    const container = document.getElementById('productsInCollection');

    if(!container){
      return;
    }

    container.innerHTML = "";  // Clear existing content

    //const loader= appendLoader(container)

    fetch(evenFloFAQURL + `products/filterByCollection/${collectionID}`)
    .then(response => response.json())
    .then(data => {

      const productsBlock = document.getElementById('productsInCollection');
      const blocksToShow = productsBlock ? productsBlock.dataset.faqsToShow : 6;

        data.slice(0, blocksToShow).forEach((product) => {  

          const tabCard = document.createElement('div');
          tabCard.classList.add('swiper-slide','product-card');

          tabCard.innerHTML = `
          <a href="/pages/evenflo-faq-product?pid=${product?.id}">
           <div class="product-img">
              <img
                src=${product?.image}
                alt="tab-img"
              />
            </div>
            <div class="product-title">
              <h4>${product?.name}</h4>
            </div>
            </a>
          `;

          container.appendChild(tabCard);

        });
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            slidesPerView: 4,
            spaceBetween: 30,   
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
              320: {  // when window width is >= 320px
                slidesPerView: 1,
                spaceBetween: 10
              },
              640: {  // when window width is >= 640px
                slidesPerView: 2,
              },
              960: {  // when window width is >= 960px
                slidesPerView: 4,
              }
            }
        });
      
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
    
    });
}





document.addEventListener('DOMContentLoaded', () => {
	const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('cid')) {
        collectionID = urlParams.get('cid');
		    fetchCollectionDetail(collectionID);

    } else{
		  redirectIfNoData([]);
	}
});


</script>