{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}


<div class="product-page-wrapper">



    <div class="product-slider-block">

        <div class="page-width">
            <div class="product-slider-main-wrapper">


                <div class="product-slider-heading center" id="collectionDetail">
                 {% comment %} Content will be dynamic {% endcomment %}
                </div>

                <div class="product-slider-wrapper" id="productsInCollection" data-products-to-show="6" >

              {% comment %} Content will be dynamic {% endcomment %}
               
                </div>


            </div>
        </div>
    </div>

    <div class="popular-question-block">
				<div class="popular-content-wrapper page-width">
					<div class="popular-header">
						<div class="search-selector-wrapper">
							<div class="search-selector">
								<select>
									<option selected="" value="Select Product">
										Select Product
									</option>
									<option value="volvo">Volvo</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>
							</div>
							<div class="search-selector">
								<select>
									<option selected="" value="Select Product">
										Select Product
									</option>
									<option value="volvo">Volvo</option>
									<option value="saab">Saab</option>
									<option value="mercedes">Mercedes</option>
									<option value="audi">Audi</option>
								</select>
							</div>
						</div>
						<div class="search-input">
							<input type="text" placeholder="query" />
						</div>
					</div>


					<div class="popular-card-wrapper" id="faqsByCollection" data-faqs-to-show="6">

						{% comment %} <div class="popular-card">
							<div class="heading">
								<h3>Products</h3>
								<h2>Can you use this car seat without the base?</h2>
								<div class="description-wrapper">
									<p>
										Revolve360 Extend All-in-One Rotational Car Seat with Green
										& Gentle Fabric Revolve360 Extend All-in-One Rotational Car
										Seat with Green & Gentle Fabric Revolve360 Extend All-in-One
										Rotational Car Seat with Green & Gentle Fabric Revolve360
										Extend All-in-One Rotational Car Seat with Green & Gentle
										Fabric
									</p>
									<button>
										<span>Show 3 more</span>
										<svg
											aria-hidden="true"
											focusable="false"
											class="icon icon-caret"
											viewBox="0 0 10 6"
										>
											<path
												fill-rule="evenodd"
												clip-rule="evenodd"
												d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
												fill="currentColor"
											></path>
										</svg>
									</button>
								</div>
							</div>
							<div class="card-content">
								<div class="card-detail-wrapper">
									<p>
										The Shyft DualRide can be used with or without the stroller
										frame when installing without the base.
									</p>
									<div class="card-content-link">
										<a href="">Read Answer</a>
									</div>
								</div>
								<div class="card-link-wrapper">
									<a href="">Shyft DualRide</a>
									<a href="">Car Seats</a>
									<a href="">Category</a>
								</div>
							</div>
						</div> {% endcomment %}

					</div>

				</div>
			</div>




</div>


<script>


function fetchCollectionDetail(id) {
  const container = document.getElementById('collectionDetail');

  if(!container){
      return;
    }
    
   container.innerHTML = "";  // Clear existing content

   const loader = appendLoader(container)

  fetch(evenFloFAQURL + 'collection/'+id+'/')
    .then(response => response.json())
    .then(collection => {
		container.innerHTML = `
       <h1 id="collectionHeading">${collection?.name}</h1>
                    <p id="collectionDescription">${collection?.description}</p>
          `;     
      
    })
    .catch(error => {
      console.error('Error fetching collection:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader)
      }
    });
}


function fetchProductsByCollection(collectionID){
    const container = document.getElementById('productsInCollection');

    if(!container){
      return;
    }

    container.innerHTML = "";  // Clear existing content

    //const loader= appendLoader(container)

    fetch(evenFloFAQURL + `products/filterByCollection/${collectionID}`)
    .then(response => response.json())
    .then(data => {
      console.log('data',data);

      const productsBlock = document.getElementById('productsInCollection');
      const blocksToShow = productsBlock ? productsBlock.dataset.productsToShow : 6;

        data.slice(0, blocksToShow).forEach((product) => {  

          const tabCard = document.createElement('div');
          tabCard.classList.add('product-card');

          tabCard.innerHTML = `
           <div class="product-img">
              <img
                src=${product?.image}
                alt="tab-img"
              />
            </div>
            <div class="product-title">
              <h4>${product?.name}</h4>
            </div>
          `;

          container.appendChild(tabCard);

        });
      
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
    
    });
}

function fetchFAQSByCollection(collectionID) {
  const container = document.getElementById(faqsByCollection);

	if (!container) {
		return;
	}

	container.innerHTML = ""; // Clear existing content

  const loader= appendLoader(container);


  fetch(evenFloFAQURL + `faqs/by/collection/${collectionID}?page=1`)
    .then(response => response.json())
    .then(data => {

        const blocksToShow = container ? container.dataset.faqsToShow : 6;

        data?.results?.slice(0, blocksToShow).forEach((product) => {
          const popularCard = document.createElement('div');
          popularCard.classList.add('popular-card');

          let productsContent = "";
          let categories = [];
          let categoriesHtml = "";

          product?.products.forEach((nestedProduct) => { 
            productsContent += `<span>${nestedProduct?.name}</span>`;
            categories[nestedProduct?.category?.id] = nestedProduct?.category?.category_name;
          });

          const uniqueCategoriesArray = categories?.filter((value, index, self) => self.indexOf(value) === index);
          uniqueCategoriesArray?.forEach((category, id) => {
            categoriesHtml += `<a href="https://abc.com/${category}">${category}</a>`;
          });

          popularCard.innerHTML = `
           
            <div class="heading">
              <h3>${product?.products[0]?.name}</h3>
              <h2>${product.question}</h2>
              <div class="description-wrapper">
                <p>${productsContent}</p>
                <button>
                  <span>Show more</span>
                  <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="card-content">
              <div class="card-detail-wrapper">
                <p>${product.answer}</p>
                <div class="card-content-link">
                  <a href="/pages/evenflo-faq-answer?qid=${product?.id}">Read Answer</a>
                </div>
              </div>
              <div class="card-link-wrapper">
                ${categoriesHtml}
              </div>
            </div>
          `;
          container.appendChild(popularCard);
        });
      
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader)
}
    });
}






document.addEventListener('DOMContentLoaded', () => {
	const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('cid')) {
        let collectionID = urlParams.get('cid');

		    fetchCollectionDetail(collectionID);
        fetchProductsByCollection(collectionID);
        fetchFAQSByCollection(collectionID);

    } else{
		window.location.href = '/pages/evenflo-faq-portal';
	}
});

</script>