<div class="evenflo-quote-slider-block">
  <div class="evenflo-quote-slider page-width">
    <div class="evenflo-quote-slider-content">
        <div class="evenflo-quote-img"></div>
        <div class="evenflo-quote-content">
          <h5></h5>
          <h1></h1>
          <p></p>
          <h4></h4>
        </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Evenflo Quote Slider",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Slider image"
      },
      {
        "type": "inline_richtext",
        "id": "subtitle",
        "default": "REVOLVE360 SLIM",
        "label": "Subtitle"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Economic Swivel Car Seat",
        "label": "Title"
      },
      {
        "type": "inline_richtext",
        "id": "quote",
        "default": "Economic Swivel Car Seat",
        "label": "Quote"
      },
      {
        "type": "inline_richtext",
        "id": "name",
        "default": "Economic Swivel Car Seat",
        "label": "Name"
      },
    ]
  }
{% endschema %}