<div class="author_bio">
  <h6>{{ article.author }}</h6>
  <p>
    Sarah Haverstick is the Safety Advocate for Evenflo. She is a certified Child Passenger Safety Technician Instructor
    and an instructor in the safe transportation of children with special health care needs. Sarah is a former chair of
    the National Child Passenger Safety Board and current vice chair of the Manufacturers Alliance for Child Passenger
    Safety. In 2021, she was inducted into the Child Passenger Safety Hall of Fame. Sarah has been educating kids and
    adults on child passenger safety topics for 15 years. She is a mom to two awesome kiddos (3 year old and 10 year
    old) – and a few fur babies (four cats and two dogs). Rounding out her family is a husband who might not love all
    the car seats that live in the garage.
  </p>
</div>

{% schema %}
{
  "name": "Evenflo Blog Author",
  "class": "content",
  "settings": [
    {
      "type": "text",
      "label": "Text 0",
      "id": "text_0"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Blog Author"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
