{%- style -%}
  .two-columns {
  display: flex;
  flex-wrap: wrap; /* Allows the columns to wrap on smaller screens */
  gap: 20px; /* Adjust the gap between columns */
}

.column {
  flex: 1; /* Ensures that each column takes up equal space */
  min-width: 300px; /* Minimum width of each column, adjust as needed */
}

.page-width {
  max-width: 1200px; /* Adjust the maximum width of the container */
  margin: auto; /* Centers the container on the page */
  padding: 20px; /* Padding around the content inside the container */
}

{%- endstyle -%}

<div class="{% if section.settings.include_margins %}page-width{% endif %} two-columns">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="column app-block">
          <!-- Render the app block -->
          <!-- Make sure this rendering is handled according to your theme's logic -->
          {{ block.settings | json }}
        </div>
      {%- when 'text' -%}
        <div class="column text-block">
          <!-- Render the text block -->
          <div class="custom-text-block">
            {{ block.settings.text }}

            <div class="multicolumn-card__info">
              <h3 class="inline-richtext">To Get the Discount</h3>
              <div class="rte">
                <p>{{ page.metafields.custom.page_intro_content | newline_to_br }}</p>
              </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Evenflo Apps",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text Block",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text Content",
          "default": "<p>Enter your text here</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Apps"
    }
  ]
}
{% endschema %}
