<section class="full-width">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
{{ section.settings.heading }} 


{{ section.settings.content }} 
  </div>
</section>
{%- for block in section.blocks -%}
  {%- case block.type -%}

    {%- when 'videos' -%}
      {%- # Label: Html 0 -%}
      {{ block.settings.html_0 }} 

  {%- endcase -%}
{%- endfor -%}

{% schema %}
  {
  "name": "Evenflo Install",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Install/Setup",
      "placeholder": "Install/Setup"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "name": "Videos",
      "type": "videos",
      "settings": [
        {
          "type": "html",
          "label": "Html 0",
          "id": "html_0"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Install"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}