{{ 'section-full-width.css' | asset_url | stylesheet_tag }}

<section class="full-width">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
    <h2 class="h1 heading-underline">{{ section.settings.heading }}</h2>
    {{ product.description | newline_to_br | strip_html }}
    {% comment %} <p>{{ section.settings.content }}</p> {% endcomment %}
  </div>
</section>

{% schema %}
{
  "name": "Evenflo Full Width",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Evenflo"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Default Content"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Full Width"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
