{{ section.settings.title }}
<style>
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="row cc-three-columns">
      <div class="one-third column alpha">
        <swiper-container class="mySwiper" navigation="true">
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/shyft-dualride-car-seat-stroller-combo-carryall-storage"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Shop-Now-SHIFT_DUALRIDE_SWIPE_walmart_IMAGE.jpg?v=1684160567"
            ></a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/shyft-dualride-car-seat-stroller-combo"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/SHIFT_DUALRIDE_SWIPE_OVER_IMAGE_1.jpg?v=1679415749"
            ></a>
          </div>
        </swiper-container>
      </div>
      <div class="one-third column alpha">
        <swiper-container class="mySwiper" navigation="true">
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/shyft-dualride-car-seat-stroller-combo-carryall-storage"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/2_Dualride_Core_ON_Boone_basket.jpg?v=1680609285"
            ></a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/shyft-dualride-car-seat-stroller-combo-carryall-storage"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/SHIFT_DUALRIDE_SWIPE_OVER_IMAGE_2.jpg?v=1679415750"
            ></a>
          </div>
        </swiper-container>
      </div>
      <div class="one-third column alpha">
        <swiper-container class="mySwiper" navigation="true">
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/gold-shyft-dualride-car-seat-stroller-combo-carryall-storage"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/3_Dualride_Gold_Moonstone.jpg?v=1684161524"
            ></a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.evenflo.com/products/gold-shyft-dualride-car-seat-stroller-combo-carryall-storage"
              ><img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/SHIFT_DUALRIDE_SWIPE_OVER_IMAGE_3.jpg?v=1679415749"
            ></a>
          </div>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

{% schema %}
{
  "name": "Swiper",
  "class": "swiper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    }
  ],
  "presets": [
    {
      "name": "Swiper"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
