{{ section.settings.title }} 


<div class="multicolumn color-background-1 gradient background-none no-heading">
  <div class="page-width section-template--15815875330204__bd43ea70-be18-4c69-8faf-0c6b96c14757-padding isolate"><slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--2-col-desktop" id="Slider-template--15815875330204__bd43ea70-be18-4c69-8faf-0c6b96c14757" role="list"><li id="Slide-template--15815875330204__bd43ea70-be18-4c69-8faf-0c6b96c14757-1" class="multicolumn-list__item grid__item">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">Looking for help?</h3><div class="rte"><p>You're welcome to contact Evenflo directly&nbsp;<strong>Monday through Friday between 8am and 5pm ET</strong>. We provide support for both US and Canada, and cover Evenflo, Evenflo GOLD, ExerSaucer, Snugi, and Urbini branded products.</p><p><strong>Evenflo &amp; Exersaucer United States</strong>:&nbsp;<br><a href="tel:1-800-233-5921" title="tel:1-800-233-5921">1-800-233-5921</a></p><p><strong>Evenflo &amp; Exersaucer Canada</strong>:&nbsp;<br><a href="tel:1-937-773-3971" title="tel:1-937-773-3971">1-937-773-3971</a></p><p><strong>Evenflo GOLD (US &amp; Canada)</strong>:&nbsp;<br><a href="tel:1-800-233-2229" title="tel:1-800-233-2229">1-800-233-2229</a></p></div></div>
            </div>
          </li><li id="Slide-template--15815875330204__bd43ea70-be18-4c69-8faf-0c6b96c14757-2" class="multicolumn-list__item grid__item">
            <div class="multicolumn-card content-container"><div class="multicolumn-card__info"><h3 class="inline-richtext">{{ section.settings.title }} </h3><div class="rte"><META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 


 $("form").submit(function(event) {
   var recaptcha = document.getElementById("g-recaptcha-response");
   if (recaptcha === "") {
      event.preventDefault();
   }
});

function submitButtonClick(event) {
    var v = grecaptcha.getResponse();
    console.log("EVENT SUBMITTEd", v)
    if(v){
        console.log("submitting")
    } else {
      event.preventDefault();
      alert("Please check the recaptcha");
    }
      
		//other stuff you want to do instead...
} 
</script>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form id="contact-form" onsubmit="submitButtonClick(event)" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

<input type=hidden name='captcha_settings' value='{"keyname":"EvenfloDomainreCAPTCHA","fallback":"true","orgId":"00Df4000002dTF0","ts":""}'>
<input type=hidden name="orgid" value="00Df4000002dTF0">
<input type=hidden name="retURL" value="http://www.evenflo.com">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value="alexs@orion-gs.com">      -->
<!--  ----------------------------------------------------------------------  -->

First Name:<input  id="00N5G00000WigJE" class="field__input" maxlength="255" name="00N5G00000WigJE" size="20" type="text" required="yes"  /><br>

Last Name:<input  id="00N5G00000WigJJ" maxlength="255" name="00N5G00000WigJJ" size="20" type="text" required="yes" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" required="yes" /><br>

<label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

Street:<input  id="00N5G00000WigJT" maxlength="255" name="00N5G00000WigJT" size="20" type="text" /><br>

City:<input  id="00N5G00000WigJO" maxlength="255" name="00N5G00000WigJO" size="20" type="text" /><br>

State:<input  id="00N5G00000WigJS" maxlength="255" name="00N5G00000WigJS" size="20" type="text" /><br>

Zip:<input  id="00N5G00000WigJU" maxlength="255" name="00N5G00000WigJU" size="20" type="text" /><br>

Order Number:<input  id="00N5G00000WigJR" maxlength="255" name="00N5G00000WigJR" size="20" type="text" /><br>

Model Number:<input  id="00N5G00000WigJQ" maxlength="255" name="00N5G00000WigJQ" size="20" type="text" /><br>

Manufacturer Date:<span class="dateInput dateOnlyInput"><input  id="00N5G00000WigJP" name="00N5G00000WigJP" size="12" type="text" /></span><br>

<label for="description">Comment</label><textarea name="description"></textarea><br>

<input id="recordType" name="recordType" type="hidden" value="0125G000001NaoT">

<input id="OwnerId" name="OwnerId" type="hidden" value="00Gf4000003U5HV">

<input id="Origin" name="Origin" type="hidden" value="Web">


<div class="g-recaptcha" data-sitekey="6LdhHrQmAAAAAIzG4KNd6VH3BABBMqlX451RVTZ3"></div><br>
<input type="submit" name="submit">

</form></div></div>
            </div>
          </li></ul></slider-component>
    <div class="center"></div>
  </div>
</div>






{% schema %}
  {
  "name": "Evenflo Custom Form",
  "class": "content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Custom Form"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}