{{ 'section-quote.css' | asset_url | stylesheet_tag }}

<section class="quote content-container page-width content-container--full-width">
  <div class="quote__inner">
    <div class="quote__inner_quote">
      <h3>{{ section.settings.quote }}</h3>
    </div>
    <div class="quote__inner_name">
      <p>–{{ section.settings.name }}</p>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section Quote",
    "settings": [
      {
        "type": "text",
        "id": "quote",
        "label": "Quote"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

