{{ 'section-connect.css' | asset_url | stylesheet_tag }}

{% assign newsletter_heading = section.settings.heading %}
{% assign newsletter_text = section.settings.text %}

<div class="newsletter content-container page-width content-container--full-width">
  <div class="row">
    <div class="one-third column alpha">
      {% if newsletter_heading != blank %}
        <h3 class="h1 heading-underline">{{ newsletter_heading }}</h3>
      {% endif %}
      {% if newsletter_text != blank %}
        <div class="newsletter-text">
          {{ newsletter_text }}
        </div>
      {% endif %}
    </div>
    <div class="one-third column">
      <div class="klaviyo-form-T3X7Yv"></div>
    </div>
    <div class="one-third column omega"></div>
  </div>
</div>

{% schema %}
{
  "name": "Evenflo Email Subscribe",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Connect with us"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Email Subscribe"
    }
  ]
}
{% endschema %}
