{{ 'section-fullwidth-text.css' | asset_url | stylesheet_tag }}

<section class="section-full-width-text">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
    <h3 class="full-width-text">{{ section.settings.heading }}</h2>
  </div>
</section>

{% schema %}
{
  "name": "Evenflo - Full Width Text",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Supported By"
    },
  ],
  "presets": [
    {
      "name": "Evenflo - Full Width Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
