{{ 'section-evenflo-search.css' | asset_url | stylesheet_tag }}

<div class="search-main-block">
    <div class="search-block page-width">
        <div class="search-heading">
            <h1>Search</h1>
        </div>
        <div class="search-input">
            <input type="text" id="searchBox" placeholder="Search"/>
        </div>
        <div class="search-listing-wrapper">
            <div class="search-listing-header">
                {% comment %} TO be displayed through Javascript {% endcomment %}
                <p id="numberOfResults"> </p> 
                <div class="search-selector">
                    <select>
                        <option selected="" value="Select Product">
                            Select Product
                        </option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="search-selector">
                    <select>
                        <option selected="" value="Select Topic">Select Topic</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
            </div>


            <div class="search-listing-body">
             {% comment %} TO be displayed through javascript {% endcomment %}
                </div>
        </div>
    </div>
</div>



<script>


function fetchFAQsData(searchTerm="") {
    const container = document.querySelector('.search-listing-body');
    const searchBlocks = document.getElementById('searchBlocks');
    let blocksToShow = searchBlocks ? searchBlocks.dataset.searchBlocksToShow : 8;

    if(!container){
        return;
        }
    
    container.innerHTML = "";  // Clear existing content

      //Creating loader div through javascript
      const loader = document.createElement('div');
      loader.id = 'loader';
      loader.className = 'loader';

      container.appendChild(loader);
   
      if (loader) {
        loader.style.display = 'block';
      }

  fetch(evenFloFAQURL + 'faqs/getFilteredFaqs?filter='+encodeURIComponent(searchTerm))
    .then(response => response.json())
    .then(data => {

        //Setting number of results shown   
        let numberOfResults=data?.length ?? 0
        let insideContent=`${numberOfResults} results for <b>“query”</b>`
        document.getElementById('numberOfResults').innerHTML=insideContent;

        data.forEach((product) => {
          const searchCard = document.createElement('div');
          searchCard.classList.add('search-card');

          let productsContent = "";
          let tags = [];
          let tagsHtml = "";
          
          product?.products.forEach((nestedProduct) => { 
            productsContent += `<span>${nestedProduct?.name}</span>`;
          });

         //Added for tags
          product?.tags.forEach((tag) => { 
            tags[tag?.id] = tag?.name;
          });

          const uniquetagsArray = tags?.filter((value, index, self) => self.indexOf(value) === index);
          uniquetagsArray?.forEach((tag, id) => {
            tagsHtml += `<a href="https://abc.com/${tag}">${tag}</a>`;
          });

          searchCard.innerHTML = `
           
            <div class="heading">
              <h3>${product?.products[0]?.name}</h3>
              <h2>${product.question}</h2>
              <div class="description-wrapper">
                <p>${productsContent}</p>
                <button>
                  <span>Show more</span>
                  <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="card-content">
              <div class="card-detail-wrapper">
                <p>${product.answer}</p>
              </div>
              <div class="card-link-wrapper">
                ${tagsHtml}
              </div>
            </div>
          `;
          container.appendChild(searchCard);
        });
      
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        loader.style.display = 'none';
      }
    });
}


document.addEventListener('DOMContentLoaded', () => {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    let searchTerm=""
    if (urlParams.has('search')) {
        searchTerm = urlParams.get('search');
        document.getElementById('searchBox').value=searchTerm
    } 

    fetchFAQsData(searchTerm);
});


 // Get the input element by its ID
const inputElement = document.getElementById('searchBox');
// Add an event listener for the 'keydown' event
inputElement.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        const inputValue = inputElement.value;
        fetchFAQsData(inputValue);

    }
});







 
    </script>