
  <section class="container">
    <h1>{{ section.settings.popularQuestionTitle }}</h1>

      {% assign products_to_show= section.settings.popularQuestionRange%}
      
    <!-- Block 4: Products -->
    <div id="productsContainer" class="block products-container" data-products-to-show="{{ products_to_show }}">
      {{ products_to_show}}
        <div class="product">
            <h2>Product 1</h2>
            <p>Price: $10</p>
        </div>
        
    </div>


</section>

<script>


function fetchProductssData(){
  alert("Starting fetchProductssData");

  fetch(evenFloFAQURL + 'faqs/popular')
        .then(response => {
          alert("Response received");
          return response.json();
        })
        .then(data => {
        
          const container = document.getElementById('productsContainer');
          if (container) {
            container.innerHTML = "";
            
            data.forEach(product => {
              const productDiv = document.createElement('div');
              productDiv.classList.add('product');
              
              const productTitle = document.createElement('h2');
              productTitle.textContent = product.question;
              productDiv.appendChild(productTitle);
              
              const productPrice = document.createElement('p');
              productPrice.textContent = `${product.answer}`;
              productDiv.appendChild(productPrice);
              
              container.appendChild(productDiv);
            });
          } else {
            alert("Container not found");
          }
        })
        .catch(error =>{
          alert("Error fetching products");
          console.error('Error fetching products:', error);
        });
}

document.addEventListener('shopify:section:load', () => {
  alert("shopify:section:load event triggered");
  fetchProductssData();
});

document.addEventListener('DOMContentLoaded', () => {
  alert("DOMContentLoaded event triggered");
  fetchProductssData();
});


 
    </script>







{% schema %}
{
  "name": "EvenFlo FAQ Popular",
  "tag": "section",
  "class": "popularQuestion",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "popularQuestionTitle",
      "label": "Popular Question Title",
      "default":"Popular Questions"
    },
    {
        "type": "range",
        "id": "popularQuestionRange",
        "label": "Number of questions to show",
        "default":3,
        "min": 1,
        "max": 3
      }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Popular",
      "blocks": [
        
      ]
    }
  ]
  
}
{% endschema %}