<div class="evenflo-quote-slider-block">
  <div class="evenflo-quote-slider page-width">
    <div class="evenflo-quote-slider-content">
        <div class="evenflo-quote-img"></div>
        <div class="evenflo-quote-content">
          <h5></h5>
          <h1></h1>
          <p></p>
          <h4></h4>
        </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}