{% schema %}
  {
    "name": "Section Quote",
    "settings": [
      {
        "type": "text",
        "id": "quote",
        "label": "Quote"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{{ 'section-quote.css' | asset_url | stylesheet_tag }}
<section class="peace-of-mind">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="peace-of-mind__inner">
          <div class="peace-of-mind__inner__quote">
            <p>{{ section.settings.quote }}</p>
          </div>
          <div class="peace-of-mind__inner__name">
            <p>{{ section.settings.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  