{{ 'section-parentlink.css' | asset_url | stylesheet_tag }}

<section class="parentlink">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
    <h2 class="h1">{{ section.settings.heading }}</h2>

    <div class="flex-row">
      <div class="flex-item">
        <h3>Chat</h3>
        {% comment %} <p>You can get in touch with us at any time during business hours by using LiveChat.</p> {% endcomment %}
        <p><strong>Available between 9am and 5pm, Monday through Friday</strong></p>

        <div data-id="14e749b8fb" class="livechat_button action_button cc-button">
          <a href="https://www.livechat.com/?utm_source=chat_button&amp;utm_medium=referral&amp;utm_campaign=lc_3753191"
            >Chat Now</a
          >
        </div>
      </div>
      <div class="flex-item">
        {{ section.settings.left_content }}
      </div>
      <div class="flex-item">
        {{ section.settings.right_content }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Evenflo - Full Width Text",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Supported By"
    },
    {
      "type": "html",
      "id": "left_content",
      "label": "Left Content",
      "default": "Phone"
    },
    {
      "type": "html",
      "id": "right_content",
      "label": "Right Content",
      "default": "Email"
    }
  ],
  "presets": [
    {
      "name": "Parentlink"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
