{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}


<div class="product-page-wrapper">



    <div class="product-slider-block">
        <div class="page-width">
            <div class="product-slider-main-wrapper">


                <div class="product-slider-heading center" id="collectionDetail">
                    {% comment %} <h1 id="collectionHeading">Revolve360</h1>
                    <p id="collectionDescription">Find your Revolve360 style below to view specific FAQs and related support documentation, or
                        browse the list of FAQs related to the entire Revolve360 collection.</p> {% endcomment %}
                </div>

                <div class="product-slider-wrapper" id="productsInCollection">

                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
               
                </div>


            </div>
        </div>
    </div>



</div>


<script>


function appendLoader(container){

      //Creating loader div through javascript
      const loader = document.createElement('div');
      loader.id = 'loader';
      loader.className = 'loader';

      alert(333);

      container.appendChild(loader);
   
      if (loader) {
        loader.style.display = 'block';
      }
      return loader;

}

function hideLoader(loader){
    loader.style.display = 'none';
}


function fetchCollectionDetail(id) {
  const container = document.getElementById('collectionDetail');

  if(!container){
      return;
    }
   
    
   container.innerHTML = "";  // Clear existing content

   const loader = appendLoader(container)

    //   //Creating loader div through javascript
    //   const loader = document.createElement('div');
    //   loader.id = 'loader';
    //   loader.className = 'loader';

    //   container.appendChild(loader);
   
    //   if (loader) {
    //     loader.style.display = 'block';
    //   }


  fetch(evenFloFAQURL + 'collection/'+id)
    .then(response => response.json())
    .then(collection => {

		container.innerHTML = `
       <h1 id="collectionHeading">Revolve360www</h1>
                    <p id="collectionDescription">Find your Revolve360 style below to view specific FAQs and related support documentation, or
                        browse the list of FAQs related to the entire Revolve360 collection.</p>
          `;
        
      
    })
    .catch(error => {
      console.error('Error fetching collection:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader)
      }
    });
}


document.addEventListener('DOMContentLoaded', () => {
	const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('cid')) {
        let collectionID = urlParams.get('cid');

		fetchCollectionDetail(collectionID);
        // fetchProductsByCollection(collectionID);
        // fetchFAQSByCollection(collectionID);

    } else{
		window.location.href = '/pages/evenflo-faq-portal';
	}
});

</script>