<a
  href="
    {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver"%}
      {{ section.settings.bronze_and_silver }}
    {% elsif customer.tags contains "swell_vip_gold" %}
      {{ section.settings.gold }}
    {% else %}
      {{ section.settings.non_member }}
    {% endif %}
  "
>
  <div style="position: relative;">
    <div class="desktop">
      <img
        width=""
        height=""
        class="desktop"
        src="
          {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver"%}
            https://cdn.shopify.com/s/files/1/0512/2359/3116/files/rewards-banner-desktop-member.jpg?v=1716501121
          {% elsif customer.tags contains "swell_vip_gold" %}
          https://cdn.shopify.com/s/files/1/0512/2359/3116/files/rewards-banner-desktop-member.jpg?v=1716501121
          {% else %}
          https://cdn.shopify.com/s/files/1/0512/2359/3116/files/rewards-banner-desktop.jpg?v=1716501121
          {% endif %}
        "
      >
    </div>

    <div class="mobile">
      <img
        width=""
        height=""
        class="mobile"
        src="
          {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver"%}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Memorial_Day_2024_Homepage_Header_Mobile_400x500_bef89052-751f-4e89-b89b-6fc6a667279e.jpg?v=1716294481
          {% elsif customer.tags contains "swell_vip_gold" %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Memorial_Day_2024_Homepage_Header_Mobile_400x500_bef89052-751f-4e89-b89b-6fc6a667279e.jpg?v=1716294481
          {% else %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Memorial_Day_2024_Homepage_Header_Mobile_400x500_NONMEMBER.png?v=1716294481
          {% endif %}
        "
      >
    </div>

    <div
      style="min-height: 100%; margin: 0; z-index: 20 !important;"
    >
      <div
        style="position: absolute; bottom: 0.1vh; left: 12.3vw; width: 200px;"
      >
        <a
          style="z-index: 120 !important; position: relative !important; text-decoration: none;"
          href="https://www.evenflo.com/pages/rewards"
        >
          <p
            {% comment %} class="EzfySlideshow-subtitle" {% endcomment %}
            style="color: black !important; text-align: left;"
          >
            <a
              href="https://www.evenflo.com/pages/evenflo-promotions"
              style="color: black !important; text-decoration: none;"
              >*Conditions apply. <span style="color: #68accb; text-decoration: underline;">Details</span></a
            >
          </p>
        </a>
      </div>
    </div>
  </div>
</a>

<style>
  .mobile,
  .desktop {
    min-width: 100%;
  }

  @media screen and (min-width: 800px) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .desktop {
      display: none;
    }
  }
</style>

{% schema %}
{
  "name": "Evenflo Loyalty Banner",
  "tag": "section",
  "class": "text",
  "settings": [
    {
      "type": "text",
      "id": "bronze_and_silver",
      "label": "Bronze and Silver Loyalty Banner Link",
      "default": "Add url here"
    },
    {
      "type": "text",
      "id": "gold",
      "label": "Gold Loyalty Banner Link",
      "default": "Add url here"
    },
    {
      "type": "text",
      "id": "non_member",
      "label": "No Loyalty Banner Link",
      "default": "Add url here"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Loyalty Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
