{{ 'section-pdp-support.css' | asset_url | stylesheet_tag }}

<section class="pdp-support page-width">
  <div class="pdp-support__container">
    <div class="pdp-support__column">
      <h3 class="h1 heading-underline">Manuals</h3>
      
              


      
    </div>
    <div class="pdp-support__column">
          {% assign user_manual_value = product.metafields.sf_products.manual %}
              {% assign user_manual_french_value = product.metafields.sf_products.manual_french %}
              {% assign user_manual_spanish_value = product.metafields.sf_products.manual_spanish %}
    
              {% if user_manual_value %}
                <a class="action_button button download_manual" href="{{ user_manual_value }}">Download Manual (en)</a>
              {% endif %}
    
              {% if user_manual_french_value %}
                <a class="action_button button download_manual" href="{{ user_manual_french_value }}">Download Manual (fr)</a>
              {% endif %}
    
              {% if user_manual_spanish_value %}
                <a class="action_button button download_manual" href="{{ user_manual_spanish_value }}">Download Manual (es)</a>
              {% endif %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Evenflo Product Manuals",
  "class": "support",
  "settings": [
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "Support"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Product Manuals"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
