{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}


<div class="product-page-wrapper">



    <div class="product-slider-block">
        <div class="page-width">
            <div class="product-slider-main-wrapper">


                <div class="product-slider-heading center" id="collectionDetail">
                    {% comment %} <h1 id="collectionHeading">Revolve360</h1>
                    <p id="collectionDescription">Find your Revolve360 style below to view specific FAQs and related support documentation, or
                        browse the list of FAQs related to the entire Revolve360 collection.</p> {% endcomment %}
                </div>

                <div class="product-slider-wrapper" id="productsInCollection" data-products-to-show="8" >

                    {% comment %} <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div> {% endcomment %}
               
                </div>


            </div>
        </div>
    </div>



</div>


<script>


function fetchCollectionDetail(id) {
  const container = document.getElementById('collectionDetail');

  if(!container){
      return;
    }
    
   container.innerHTML = "";  // Clear existing content

   const loader = appendLoader(container)

  fetch(evenFloFAQURL + 'collection/'+id+'/')
    .then(response => response.json())
    .then(collection => {
		container.innerHTML = `
       <h1 id="collectionHeading">${collection?.name}</h1>
                    <p id="collectionDescription">${collection?.description}</p>
          `;     
      
    })
    .catch(error => {
      console.error('Error fetching collection:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader)
      }
    });
}


function fetchProductsByCollection(collectionID){
    const container = document.getElementById('productsInCollection');

    if(!container){
      return;
    }

    container.innerHTML = "";  // Clear existing content

    //const loader= appendLoader(container)

    fetch(evenFloFAQURL + `products/filterByCollection/${collectionID}`)
    .then(response => response.json())
    .then(data => {
      console.log('data',data);

      const productsBlock = document.getElementById('productsInCollection');
      const blocksToShow = productsBlock ? productsBlock.dataset.productsToShow : 8;

        data.slice(0, blocksToShow).forEach((product) => {  

          const tabCard = document.createElement('div');
          tabCard.classList.add('product-card');

          tabCard.innerHTML = `
           <div class="product-img">
              <img
                src=${product?.image}
                alt="tab-img"
              />
            </div>
            <div class="product-title">
              <h4>${product?.name}</h4>
            </div>
          `;

          container.appendChild(tabCard);

        });
      
    })
    .catch(error => {
      console.error('Error fetching products:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        hideLoader(loader);
      }
    });
}








document.addEventListener('DOMContentLoaded', () => {
	const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('cid')) {
        let collectionID = urlParams.get('cid');

		    fetchCollectionDetail(collectionID);
        fetchProductsByCollection(collectionID);
        // fetchFAQSByCollection(collectionID);

    } else{
		window.location.href = '/pages/evenflo-faq-portal';
	}
});

</script>