{{ 'section-benefits.css' | asset_url | stylesheet_tag }}

<section class="product-highlights anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
    <h2>{{ section.settings.section_title }}</h2>

    <div class="flex-row">
      {%- for block in section.blocks -%}
        <div class="flex-item">
          {%- case block.type -%}

            {%- when 'benefit' -%}
            <h3>{{ block.settings.benefit_name }}
            </h3>
            <p>{{ block.settings.benefit_description }}
            </p>

          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Benefits",
    "class": "text",
    "max_blocks": 4,
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Why Evenflo"
      }
    ],
    "blocks": [
      {
        "name": "Benefit",
        "type": "benefit",
        "settings": [
          {
            "type": "text",
            "id": "benefit_name",
            "label": "Benefit Name"
          }, {
            "type": "textarea",
            "id": "benefit_description",
            "label": "Benefit Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Benefits"
      }
    ]
  }
{% endschema %}
