<a href="https://www.evenflo.com/pages/rewards">
  <div style="position: relative;">
    <div class="desktop">
      <img
        width=""
        height=""
        class="desktop"
        src="
          {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver"%}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_Silver_Bronze_Header_Desktop_1920x450_2beb3386-b894-4102-9929-35251f52342d.jpg?v=1711571389
          {% elsif customer.tags contains "swell_vip_gold" %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_Gold_Header_Desktop_1920x450_2f19050d-f5ae-4631-8144-6c394e3072dc.jpg?v=1711571389
          {% else %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_New_Header_Desktop_1920x450_0e420b55-a294-4e5a-bd44-2672d3ee6492.jpg?v=1711572376
          {% endif %}
        "
      >
    </div>

    <div class="mobile">
      <img
        width=""
        height=""
        class="mobile"
        src="
          {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver"%}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_Silver_Bronze_Header_Mobile_400x500_618c255b-9dd0-47b0-b461-63b46db534e3.jpg?v=1711571389
          {% elsif customer.tags contains "swell_vip_gold" %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_Gold_Header_Mobile_400x500_6896a247-3053-47bb-8b6e-32131306a86e.jpg?v=1711571389
          {% else %}
              https://cdn.shopify.com/s/files/1/0512/2359/3116/files/Loyalty-Exclusive_Promo_2024_New_Header_Mobile_400x500_100a0ebd-4402-40a4-b90c-5c381fbe4e23.jpg?v=1711572376
          {% endif %}
        "
      >
    </div>

    <div
      style="min-height: 100%; margin: 0; z-index: 20 !important;"
    >
      <div
        style="position: absolute; bottom: 1.2vh; right: 7vw; width: 200px;"
      >
        <a
          style="z-index: 120 !important; position: relative !important; text-decoration: none;"
          href="https://www.evenflo.com/pages/rewards"
        >
          <p
            {% comment %} class="EzfySlideshow-subtitle" {% endcomment %}
            style="color: white !important; text-align: right;"
          >
            <a href="https://www.evenflo.com/pages/evenflo-promotions" style="color: white !important;">*Conditions apply. Details</a>
          </p>
        </a>
      </div>
    </div>
  </div>
</a>

<style>
  .mobile,
  .desktop {
    min-width: 100%;
  }

  @media screen and (min-width: 800px) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .desktop {
      display: none;
    }
  }
</style>

{% schema %}
{
  "name": "Evenflo Loyalty Banner",
  "tag": "section",
  "class": "text",
  "presets": [
    {
      "name": "Evenflo Loyalty Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  console.log('customer');
  console.log({{ customer | json }});
{% endjavascript %}
