{{ 'section-evenflo-search.css' | asset_url | stylesheet_tag }}

{% comment %} Class override in this section {% endcomment %}
<style>
  .help-articles-block {
    background: #fff;
  }
  .search-listing-header2 {
    display: flex;
    justify-content: space-between;
  }
</style>

{% assign products_to_show = section.settings.topicRelatedRange %}

<div class="help-articles-block">
  <div class="help-articles-content page-width center">
    <div class="help-article-search-wrapper">
      <h1 id="topicName"></h1>
      <p id="topicDescription"></p>
    </div>
  </div>
</div>


<div class="popular-question-block" id="topicRelatedBlock" data-faqs-to-show="{{ products_to_show }}">
  <div class="popular-content-wrapper page-width">
    <div class="heading center">
      <h2 id="popularQuestionHeading">{{ section.settings.topicRelatedTitle }}</h2>
    </div>
    <div class="popular-card-wrapper" id="popularCards"></div>
  </div>
</div>


{% render 'faq-load-more-block', show_collection_dropdown: true %}

<script>
function fetchTopicDetail(topicID) {
  let url = `${evenFloFAQURL}topics/${topicID}/`;

  fetch(url)
    .then((response) => response.json())
    .then((data) => {
      document.getElementById('topicName').innerHTML = data?.name;
      document.getElementById('topicDescription').innerHTML = data?.description;
    })
    .catch((error) => {
      console.error("Error fetching products:", error);
    });
}

function fetchCollectionsForDropDown() {
  const container = document.getElementById("selectCollection");

  if (!container) {
    return;
  }

  emptyContainerHtml(container);
  createAndAppendDropDownOption(container, "Select Collection");

  fetch(evenFloFAQURL + 'collection/?page=1')
    .then(response => response.json())
    .then(data => {
      data?.results?.forEach((collection) => {
        const option = document.createElement("option");
        option.value = collection.id;
        option.textContent = collection.name;
        container.appendChild(option);
      });
    })
    .catch(error => {
      console.error('Error fetching collections:', error);
    });
}

document.addEventListener('DOMContentLoaded', () => {
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  if (urlParams.has('tid')) {
    topicID = urlParams.get('tid');
    fetchTopicDetail(topicID);
    fetchFAQsByFilters({ topicsID: topicID, popular: true, appendTo: "popularCards", showLoadMore: false });
    fetchFAQsByFilters({ topicsID: topicID });
    fetchCollectionsForDropDown();
  } else {
    window.location.href = '/pages/evenflo-faq-portal';
  }
});
</script>

{% schema %}
{
  "name": "EvenFlo FAQ Topic",
  "tag": "section",
  "class": "topicRelated",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "topicRelatedTitle",
      "label": "Popular Question Title",
      "default": "Popular Questions"
    },
    {
      "type": "range",
      "id": "topicRelatedRange",
      "label": "Number of questions to show",
      "default": 3,
      "min": 1,
      "max": 3,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Topic",
      "blocks": []
    }
  ]
}
{% endschema %}
