
<section class="join">
          {% assign product_pixlee_gallery = product.metafields.custom.pixlee_gallery %}
          <div id="pixlee_container"></div>
          <script type="text/javascript">
            window.PixleeAsyncInit = function() {
              Pixlee.init({apiKey:'OmAQbPzfeavzuLyyMQsJ'});
              Pixlee.addProductWidget({accountId:1999, widgetId:{{ product_pixlee_gallery }}, ecomm_platform:"shopify", setMetaTags:true});
            };
          </script>
         


</section>


{% schema %}
  {
  "name": "Evenflo Pixlee",
  "class": "text",
  "settings": [],
  "presets": [
    {
      "name": "Evenflo Pixlee"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}