

  <section class="container">
    <h1>{{ section.settings.faqCategoryTitle }}</h1>

      {% assign categories_to_show= section.settings.faqCategoriesRange%}
      
    <div id="categoriesContainer" class="block category-container" data-categories-to-show="{{ categories_to_show }}">
      {{ categories_to_show}}
        <div class="categories">
            <h2>category 1</h2>
            <p>Price: $10</p>
        </div>
        
    </div>

</section>


<script>

    document.addEventListener('DOMContentLoaded', function() {
 
        fetch(evenFloFAQURL+'products/getPaginatedCategories?page_size=10&page=1')
            .then(response => response.json())
            .then(data => {
                alert(123)
                const container = document.getElementById('categoriesContainer');
    
        
                data.results.forEach(category => {
                    const categoryDiv = document.createElement('div');
                    categoryDiv.classList.add('category');
                    
                    const categoryTitle = document.createElement('h2');
                    categoryTitle.textContent = category.category_name;
                    categoryDiv.appendChild(categoryTitle);
                    
                    container.appendChild(categoryDiv);
                });
            })
            .catch(error => console.error('Error fetching categories:', error));
    });</script>







{% schema %}
{
  "name": "EvenFlo FAQ Category",
  "tag": "section",
  "class": "faqCategory",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faqCategoryTitle",
      "label": "FAQ Categories Title",
      "default":"Categories"
    },
    {
        "type": "range",
        "id": "faqCategoriesRange",
        "label": "Categories to show",
        "default":5,
        "min": 1,
        "max": 6,
        "step": 1
      }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Category",
      "blocks": [
        
      ]
    }
  ]
  
}
{% endschema %}