<div class="content-container page-width rich-text--full-width content-container--full-width">
  <h2 class="h1 heading-underline">{{ section.settings.share_your_journey_with_us }}</h2>

  {%- # Label: Pixlee -%}
  {{ section.settings.pixlee }}
</div>
{% schema %}
{
  "name": "Social Proof",
  "class": "content",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "share_your_journey_with_us",
      "label": "Share your journey with us",
      "default": "Share your journey with us",
      "placeholder": "Share your journey with us",
      "info": "Social Proof"
    },
    {
      "type": "html",
      "id": "pixlee",
      "label": "Pixlee"
    }
  ],
  "presets": [
    {
      "name": "Social Proof"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
