{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

{% comment %} Class override in this section {% endcomment %}
<style>
    .help-articles-block {
    background: #fff;
  }
  .search-listing-header2 {
    display: flex;
    justify-content: space-between;
  }
  .product-category-slider-wrapper .swiper-button-prev, .product-category-slider-wrapper .swiper-button-next {
    display: block!important;
}
  
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
  @media screen and (max-width: 1180px) {
    .product-category-slider-wrapper .tab-content-wrapper {
   gap: 0;
      flex-wrap: nowrap;
              justify-content: flex-start;
  }
   .product-category-slider-wrapper .tab-card{
      max-width: 100%;
    }
}
</style>

{% assign products_to_show = section.settings.categoryRelatedRange %}

<div class="help-articles-block">
  <div class="help-articles-content page-width center"> 
    <div class="help-article-search-wrapper">
      <h1 id="categoryName"></h1>
    </div>

    <div class="swiper mySwiper tab-body product-category-slider-wrapper">
      <div class="swiper-wrapper tab-content-wrapper" id="productsByCategory"></div>
      <!-- <div class="swiper-pagination"></div> -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>



<div class="product-page-wrapper">

<div class="popular-question-block" id="categoryRelatedBlock" data-faqs-to-show="{{ products_to_show }}">
  <div class="popular-content-wrapper page-width">
    <div class="heading center">
      <h2 id="popularQuestionHeading">{{ section.settings.categoryRelatedTitle }}</h2>
    </div>
    <div class="popular-card-wrapper" id="popularCards"></div>
  </div>
</div>

</div>

{% comment %} {% assign categories_to_show = 6 %}
{% assign products_to_show = 6 %}
{% assign category_title = "Categories" %} {% endcomment %}

{% comment %} {% render 'faq-category-block', categories_to_show: categories_to_show, products_to_show: products_to_show, category_title: category_title,show_title:false %} {% endcomment %}

{% render 'faq-load-more-block', show_topic_dropdown:true %}

{% assign topics_to_show = 3 %}
{% assign topics_title = "By Topics" %}

{% render 'faq-topic-block', topics_to_show:topics_to_show , topics_title:topics_title%}

{% render 'faq-support-block' %}



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>

  function fetchPopularCategoriesRelatedData(categoryID) {
    const container = document.getElementById("popularCards");
    const popularQuestionBlock = document.getElementById("popularQuestionBlock");
    let blocksToShow = popularQuestionBlock ? popularQuestionBlock.dataset.faqsToShow : 3;

    if (!container) {
      console.log("Error on getting container");
      return;
    }

    container.innerHTML = ""; // Clear existing content
    const loader = appendLoader(container);

    let url = evenFloFAQURL + "product_category/" + categoryID + "/";

    fetch(url)
      .then((response) => response.json())
      .then((data) => {

      if(data?.detail && containsString(data?.detail,errorString())){
          redirectIfNoData([])
          return ""
        }

      getProductsByCategory(categoryID,"",true)
      fetchFAQsByFilters({categoryID:categoryID});
      fetchTopicsByType(categoryID,true,"category")

        document.getElementById('categoryName').innerHTML = data?.category_name;
        //Calling breadcrumb link to update the breadcrumb name
        getBreadCrumbLinks(data?.category_name,'category')
  

        //Hiding Popular questions heading
        if (Array.isArray(data?.related_popular_faqs) && data?.related_popular_faqs?.length == 0){
          document.getElementById('popularQuestionHeading').style.display ="none";
        }

        data?.related_popular_faqs?.slice(0, blocksToShow).forEach((product) => {

        const popularCard = createPopularCardDivElement("popular-card");

        const faqsContent = getFAQContent(product?.products || []);

        const tags = getTagsArray(product?.tags || []);

        const tagsHtml = getTagsHtml(tags);

        popularCard.innerHTML = setFAQBlockInnerHtml(
          product?.topic?.name || "",
          product.question,
          faqsContent,
          product.answer,
          product?.id,
          tagsHtml
        );

        container.appendChild(popularCard);
        });
      })
      .catch((error) => {
        console.error("Error fetching category:", error);
        redirectIfNoData([])
      })
      .finally(() => {
        if (loader) {
          hideLoader(loader);
        }
      });
  }


  document.addEventListener('DOMContentLoaded', () => {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    if (urlParams.has('cat_id')) {
      categoryID = urlParams.get('cat_id');
      fetchPopularCategoriesRelatedData(categoryID);
    } else {
      redirectIfNoData([]);
    }
  });
</script>

{% schema %}
{
  "name": "EvenFlo FAQ Category",
  "tag": "section",
  "class": "categoryRelated",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "categoryRelatedTitle",
      "label": "Popular Question Title",
      "default": "Popular Questions"
    },
    {
      "type": "range",
      "id": "categoryRelatedRange",
      "label": "Number of questions to show",
      "default": 3,
      "min": 1,
      "max": 3,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Category",
      "blocks": []
    }
  ]
}
{% endschema %}
