{{ 'section-evenflo-collection-detail.css' | asset_url | stylesheet_tag }}


<div class="product-page-wrapper">
    <div class="product-slider-block">
        <div class="page-width">
            <div class="product-slider-main-wrapper">
                <div class="product-slider-heading center">
                    <h1>Revolve360</h1>
                    <p>Find your Revolve360 style below to view specific FAQs and related support documentation, or
                        browse the list of FAQs related to the entire Revolve360 collection.</p>
                </div>
                <div class="product-slider-wrapper">
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img">
                            <img src="https://cdn.shopify.com/s/files/1/0512/2359/3116/files/core.jpg?v=1681987069"
                                alt="product-card">
                        </div>
                        <div class="product-title">
                            Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-question-block">
        <div class="popular-content-wrapper page-width">
            <div class="popular-header ">
                <div class="search-selector-wrapper">
                    <div class="search-selector">
                        <select>
                            <option selected="" value="Select Product">Select Product</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="search-selector">
                        <select>
                            <option selected="" value="Select Product">Select Product</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                </div>
                <div class="search-input">
                    <input type="text" placeholder="query">
                </div>
            </div>
            <div class="popular-card-wrapper">
                <div class="popular-card">
                    <div class="heading">
                        <h3>Products</h3>
                        <h2>
                            Can you use this car seat without the base?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360
                                Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360
                                Extend All-in-One Rotational Car Seat with Green & Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The Shyft DualRide can be used with or without the stroller frame when installing
                                without
                                the
                                base.</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>
                        </div>
                    </div>
                </div>
                <div class="popular-card">
                    <div class="heading">
                        <h3>Revolve360 Rotational All-In-One Convertible Car Seat</h3>
                        <h2>
                            What is the weight of the car seat?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The following product weight is an estimate and may vary slightly depending on the
                                specific
                                fashion and trim of your car seat. Infant carrier + stroller frame + base = 26.9 lb;
                                Infant
                                carrier + stroller frame = 19.2 lb; Infant carrier alone = 8.9 lb</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>
                        </div>
                    </div>

                </div>
                <div class="popular-card">
                    <div class=" heading">
                        <h3>Products</h3>
                        <h2>
                            Can you use this car seat without the base?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green &amp; Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The Shyft DualRide can be used with or without the stroller frame when installing
                                without
                                the
                                base.</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>

                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>

                        </div>
                    </div>
                </div>
                <div class="popular-card">
                    <div class="heading">
                        <h3>Products</h3>
                        <h2>
                            Can you use this car seat without the base?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360
                                Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric
                                Revolve360
                                Extend All-in-One Rotational Car Seat with Green & Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The Shyft DualRide can be used with or without the stroller frame when installing
                                without
                                the
                                base.</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>
                        </div>
                    </div>
                </div>
                <div class="popular-card">
                    <div class="heading">
                        <h3>Revolve360 Rotational All-In-One Convertible Car Seat</h3>
                        <h2>
                            What is the weight of the car seat?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green & Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The following product weight is an estimate and may vary slightly depending on the
                                specific
                                fashion and trim of your car seat. Infant carrier + stroller frame + base = 26.9 lb;
                                Infant
                                carrier + stroller frame = 19.2 lb; Infant carrier alone = 8.9 lb</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>
                        </div>
                    </div>

                </div>
                <div class="popular-card">
                    <div class=" heading">
                        <h3>Products</h3>
                        <h2>
                            Can you use this car seat without the base?
                        </h2>
                        <div class="description-wrapper">
                            <p>Revolve360 Extend All-in-One Rotational Car Seat with Green &amp; Gentle Fabric</p>
                            <button>
                                <span>Show 3 more</span>
                                <svg aria-hidden="true" focusable="false" class="icon icon-caret"
                                    viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                        fill="currentColor">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-detail-wrapper">
                            <p>The Shyft DualRide can be used with or without the stroller frame when installing
                                without
                                the
                                base.</p>
                            <div class="card-content-link">
                                <a href="">Read Answer</a>
                            </div>
                        </div>

                        <div class="card-link-wrapper">
                            <a href="">Shyft DualRide</a>
                            <a href="">Car Seats</a>
                            <a href="">Category</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topic-block">
        <div class="topic-main-wrapper page-width">
            <div class="heading">
                <h1>By Topic</h1>
            </div>
            <div class="topic-wrapper">
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
                <div class="topic-card">
                    <div class="topic-content">
                        <div class="topic-title">
                            <h2>Revolve360™</h2>
                            <p>Pellentesque venenatis faucibus at lacus aliquam vitae sed.</p>
                        </div>
                        <div class="topic-icon">
                            <img src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
                                alt="topic-icon">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="support-block">
        <div class="page-width">
            <div class="support-content-wrapper">
                <div class="support-card">
                    <div class="support-heading">
                        <h1>Get Support</h1>
                        <p>Tincidunt mollis nisi volutpat quam. Justo, erat feugiat ornare condimentum.</p>
                    </div>
                    <div class="support-card-btn">
                        <button>Call to Action</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>