
{% assign collections_to_show= section.settings.faqCollectionRange %}

  <div class="collection-block">
    <div class="collection-main-wrapper page-width">
      <div class="heading">
        <h1>{{ section.settings.faqCollectionTitle }}</h1>
      </div>
      <div class="collection-wrapper" id="allCollections" data-collections-to-show="{{ collections_to_show }}">
        <!-- Loader -->
        <div id="collectionsLoader" class="loader" style="display: none;"></div>
      </div>
    </div>
  </div>

<script>
 function getPaginatedCollections() {
    const container = document.getElementById('allCollections');
    if(!container){
      return;
    }
    container.innerHTML = "";  // Clear existing content

      //Creating loader div through javascript
      const loader = document.createElement('div');
      loader.id = 'collectionsLoader';
      loader.className = 'loader';
      //loader.style.display = 'block';

      container.appendChild(loader);
   
      if (loader) {
        loader.style.display = 'block';
      }

  fetch(evenFloFAQURL + 'collection/?page=1&page_size=6')
    .then(response => response.json())
    .then(data => {
     
        const blocksToShow = container ? container.dataset.collectionsToShow : 6;
        
        if (container) {

            data?.results?.slice(0, blocksToShow).forEach((collection) => {  // Limit to number of collections to show
            const collectionCard = document.createElement('div');
            collectionCard.classList.add('collection-card');

            
            
            collectionCard.innerHTML = `
              <a href="/pages/evenflo-collection?cid=${collection?.id}" >
                <div class="collection-title">
                    <h2>${collection?.name}</h2>
                </div>
                <div class="collection-img">
                    <img src=${collection?.image} alt="collection-img">
                </div>
              </a>
            `;
    

            container.appendChild(collectionCard);
            });
        } else {
            console.error('Tab card wrapper container not found');
        }


    })
    .catch(error => {
      console.error('Error fetching collections:', error);
    })
    .finally(() => {
      // Hide the loader
      if (loader) {
        loader.style.display = 'none';
      }
    });
}




  document.addEventListener('DOMContentLoaded', () => {
    alert(33);
    getPaginatedCollections();
  });
</script>






{% schema %}
{
  "name": "EvenFlo FAQ Collection",
  "tag": "section",
  "class": "faqCollection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "faqCollectionTitle",
      "label": "FAQ Collections Title",
      "default":"Collections"
    },
    {
        "type": "range",
        "id": "faqCollectionRange",
        "label": "Collections to show",
        "default":5,
        "min": 1,
        "max": 6,
        "step": 1
      }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Category",
      "blocks": [
        
      ]
    }
  ]
  
}
{% endschema %}