

{% assign topics_to_show= section.settings.topicsRange%}

    {% comment %} <div class="Topic-question-block" id="topicsBlock" data-topics-to-show="{{ topics_to_show }}">
                <div class="Topic-content-wrapper page-width">
                    <div class="heading center">
                        <h2>{{ section.settings.topicsTitle }}</h2>
                    </div>
                    <div class="topic-wrapper">
                        <!-- Loader -->
                <div id="loader" class="loader" style="display: none;"></div>
                    
                    </div>
                </div>
    </div> {% endcomment %}


    <div class="topic-block" id="topicsBlock" data-topics-to-show="{{ topics_to_show }}">
			<div class="topic-main-wrapper page-width">
				<div class="heading">
					<h1>{{ section.settings.topicsTitle }}</h1>
				</div>
				<div class="topic-wrapper">
					  <!-- Loader -->
                      <div id="topicsLoader" class="loader" style="display: none;"></div>
				</div>
			</div>
		</div>

      
    <script>


    function fetchTopicsData() {
    
    const topicsBlock = document.getElementById('topicsBlock');
    let blocksToShow = topicsBlock ? topicsBlock.dataset.topicsToShow : 6;

    const container = document.querySelector('.topic-wrapper');

    if(!container){
    return;
    }

    container.innerHTML = "";  // Clear existing content

      //Creating loader div through javascript
      const loader = document.createElement('div');
      loader.id = 'topicsLoader';
      loader.className = 'loader';

      container.appendChild(loader);
   
      if (loader) {
        loader.style.display = 'block';
      }


    fetch(evenFloFAQURL + 'topics/?page=1&page_size='+blocksToShow)
        .then(response => response.json())
        .then(data => {
        if (container) {
            container.innerHTML = "";  // Clear existing content

            data?.results?.slice(0, blocksToShow).forEach((product) => {

            const topicCard = document.createElement('div');
            topicCard.classList.add('topic-card');

            topicCard.innerHTML = `
						<div class="topic-content">
							<div class="topic-title">
								<h2>Revolve360™</h2>
								<p>
									Pellentesque venenatis faucibus at lacus aliquam vitae sed.
								</p>
							</div>
							<div class="topic-icon">
								<img
									src="https://www.evenflo.com/cdn/shop/files/icon-give20.png?v=1688762914&width=45"
									alt="topic-icon"
								/>
							</div>
						</div>
					
            `;
            container.appendChild(topicCard);
            
            });
        } else {
            console.error('Topic card wrapper container not found');
        }
        })
        .catch(error => {
        console.error('Error fetching topics:', error);
        })
        .finally(() => {
        // Hide the loader
        if (loader) {
            loader.style.display = 'none';
        }
        });
    }



    document.addEventListener('shopify:section:load', (event) => { 
    const sectionId = event?.detail?.sectionId;
    if (sectionId.includes('evenflo_faq_topic')) {
        fetchTopicsData();
    } 

    });

    document.addEventListener('DOMContentLoaded', () => {
    
    fetchTopicsData();
    });





    
    </script>







{% schema %}
{
  "name": "EvenFlo FAQ Topics",
  "tag": "section",
  "class": "TopicQuestion",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "topicsTitle",
      "label": "Topic Question Title",
      "default":"By Topics"
    },
    {
        "type": "range",
        "id": "topicsRange",
        "label": "Number of topics to show",
        "default":6,
        "min": 1,
        "max": 6,
        "step": 1
      }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Topics",
      "blocks": [
        
      ]
    }
  ]
  
}
{% endschema %}