{%- # Label: Number of FAQ -%}
{{ section.settings.number_of_faq }} 



{% assign faqData = page.metafields.custom.support_page_faq.value | json %}

{% if faqData %}

  <ul>
    {% for faqItem in faqData %}
        <script>console.log({{ faqData[0] | json }});</script>

      <li>
        <h3>{{ faqItem.question }}</h3>
        <p>{{ faqItem.answer }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No FAQ data found.</p>
{% endif %}





{% schema %}
  {
  "name": "Evenflo FAQs",
  "class": "faq",
  "tag": "section",
  "settings": [
    {
      "type": "number",
      "id": "number_of_faq",
      "label": "Number of FAQ",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Evenflo FAQs"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}