{% schema %}
{
  "name": "Hello World Section"
}
{% endschema %}

{% stylesheet %}
  h1 {
    color: #000;
    font-size: 32px;
  }
{% endstylesheet %}

{% javascript %}
  // you can add javascript here
{% endjavascript %}

<div>
  <h1>Hello World</h1>
</div>
