<h1>jebbit quiz section</h1>

{% schema %}
{
  "name": "Jebbit",
  "tag": "section",
  "class": "text",
  "presets": [
    {
      "name": "Jebbit"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
