{{ 'manuals.css' | asset_url | stylesheet_tag }}

<script defer type="module" src="{{ "manuals-app.bundle.js" | asset_url }}"></script>
<div id="manuals-app"></div>
{% schema %}
{
  "name": "Manuals",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Manuals"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
