<script defer type="module" src="{{ "manuals-app.bundle.js" | asset_url }}"></script>
<div id="manuals-app"></div>
{% schema %}
  {
    "name": "Manuals",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}