<div class="product-img-slider-block"></div>
{% schema %}
{
  "name": "Product Image Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Product Image Slider",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
