<div class="product-img-slider-block">
  <div class="page-width">
    <div class="product-img-slider">
      <div class="product-img-wrapper">
        {% for product in section.product_list %}
          <div class="product-img-card">
            <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product Image Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 12
    }
  ],
  "presets": [
    {
      "name": "Product Image Slider",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
