.card-wrapper .color-swatches {
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 4px;
}

.card-wrapper .color-swatches img {
	border-radius: 100%;
	max-width: 32px;
	max-height: 32px;
}