.evenflo-featured-collection .collection__title.title-wrapper {
    text-align: center;
}
.evenflo-featured-collection .collection__title.title-wrapper h2{
    text-transform: uppercase;
    font-weight: 700;
}
.evenflo-featured-collection .card__heading.h5{
  font-size: 18px;
  font-weight: 700;
}

.evenflo-featured-collection .color-swatches{
	margin-top: 12px;
	display: flex; 
	justify-content: center; 
	align-items: center; 
	gap: 8px; 
	flex-wrap: wrap;
}
.evenflo-featured-collection .color-swatches .swatch{
	--swatch--size: var(--swatch-input--size, 3.3rem);
}

.evenflo-featured-collection .features p {
	margin: .75rem 0;
	line-height: 1;
}