.evenflo-product-specifications .multicolumn-card-content {
	padding: 24px 40px;
	background: #e3f2f3;
	border-radius: 8px;
	margin: 1rem 0;
}

.evenflo-product-specifications .multicolumn-card-content.no-bg {
	background-color: transparent;
}

.evenflo-product-specifications .grid {
    gap: 30px;
}

.evenflo-product-specifications.multicolumn .multicolumn-card {
	justify-content: flex-start;
	background: #e3f2f3;
	border-radius: 8px;
	padding: 24px 40px;
	margin: 1rem 0;
	height: auto;

}

.evenflo-product-specifications ul.specs-list {
	list-style: none;
    margin: 1rem 0;
	padding: 0;
}

.evenflo-product-specifications ul.specs-list > li {
	margin: 0 0 1rem;
}

.evenflo-product-specifications ul.specs-list > li.checkbox-item {
	display: flex;
	justify-content: space-between;
}

.evenflo-product-specifications ul.specs-list > li:not(.checkbox-item) + li.checkbox-item {
	border-top: 2px solid #01b1b0;
	padding-top: 20px;
	margin-top: 26px;
}
.evenflo-product-specifications ul.specs-list > li.checkbox-item svg {
	height: 1em;
}

.evenflo-product-specifications .child-fit-mode + .child-fit-mode {
	border-top: 2px solid #01b1b0;
	padding-top: 16px;
	margin-top: 12px;
}
.evenflo-product-specifications .child-fit-mode h4{
	margin-top: .5em;
}

.evenflo-product-specifications .specifications-image-container .multicolumn-list {
	justify-content: flex-start;
}

.evenflo-product-specifications .specifications-image-container .multicolumn-list__item {
	margin-left: 0;
}

@media screen and (min-width: 750px) {
    .evenflo-product-specifications.multicolumn:not(.whats-in-the-box) .multicolumn-list {
		margin-left: 0;
		margin-right: 0;
	}

	.evenflo-product-specifications .grid {
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media screen and (min-width: 990px) {
    .evenflo-product-specifications  .grid--3-col-desktop .grid__item {
        width: calc(33.33% - 30px * 2 / 3);
        max-width: calc(33.33% - 30px * 2 / 3);
    }
}