.collection__title.title-wrapper {
    text-align: center;
}
.collection__title.title-wrapper h2{
    text-transform: uppercase;
    font-weight: 700;
}
.card__heading.h5{
  font-size: 18px;
  font-weight: 700;
}
span.badge.color-background-1 {
    border-radius: unset;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}