       .featured-banner-block {
            padding: 40px 0;
        }

        .featured-banner-wrapper {
            position: relative;
        }

        .featured-banner-wrapper * {
            margin: 0;
        }

        .featured-banner-wrapper .heading {
            max-width: 40%;
            position: absolute;
            left: 0;
        }

        .featured-banner-wrapper .heading h1 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 15px;
        }

        .featured-banner-wrapper .heading h1:after {
            content: "";
            display: inline-block;
            width: 88px;
            height: 4px;
            background: var(--color-secondary-100, #2996c5);
        }

        .featured-banner-img img {
            width: 100%;
        }

        .mobile-img {
            display: none;
        }

        @media screen and (min-width: 1570px) {
            .featured-banner-wrapper .heading {
                top: 25%;
            }
        }

        @media screen and (max-width: 1569px) {
            .featured-banner-wrapper .heading {
                top: clamp(5%, 1vw, 25%);
            }
        }

        @media screen and (max-width: 1290px) {
            .featured-banner-wrapper .heading {
                position: static;
                max-width: 100%;
                text-align: center;
            }

            .featured-banner-wrapper .heading h1 {
                align-items: center;
            }

            .desktop-img {
                display: none;
            }

            .mobile-img {
                display: block;
            }
        }