body {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

h1,
h2,
h2,
h3,
h3,
h4,
h4,
h5,
h5,
.h0,
.h0,
.h1,
.h1,
.h2,
.h2,
.h3,
.h3,
.h4,
.h4,
.h5 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: calc(1 / max(1, var(--font-heading-scale)));
}
@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4.5rem);
  }
}

.heading-underline {
  position: relative;
}
.heading-underline::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #2996c5;
}
.heading-underline-center {
  text-align: center;
}
.header__menu-item {
  font-weight: 700;
  font-size: 1.6rem;
}

.header__menu-item span {
  text-decoration: none !important;
}
/* Evenflo */
a {
  color: #2996c5;
}
.strong {
  font-weight: bold;
}
.button,
.shopify-challenge__button,
.customer button {
  font-size: 20px;
  text-transform: uppercase;
}
.button:disabled,
.button[aria-disabled='true'],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled='true'],
.customer button.disabled,
.quantity__button.disabled {
  background-color: gray;
}
.gradient.color-accent-1 {
  background-attachment: unset;
}
.gradient .color-light-green {
  background: #e3f2f3;
  /* background-attachment: fixed; */
}
.gradient .color-accent-3 {
  background: #e3f2f3;
  /* background-attachment: fixed; */
}

.heading-underline-center::after {
  left: 50%;
  transform: translateX(-50%);
}
.header__icons {
  /* width: 100%; */
  max-width: 600px;
  justify-self: none;
  justify-content: flex-end;
}
predictive-search.search-modal__form {
  width: 60%;
}
.search-modal__form[data-upgraded='true'] {
  padding: 0.5rem 0;
}
.search-modal__form[data-upgraded='true'] input {
  padding: 1rem 1.5rem;
  padding-right: 8.5rem;
  height: 4rem;
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-foreground), var(--popup-border-opacity));
}
.search-modal__form[data-upgraded='true'] input:focus,
.search-modal__form[data-upgraded='true'] input:hover {
  box-shadow: 0 0 0 calc(0.1rem + var(--inputs-border-width)) rgba(var(--color-foreground), var(--popup-border-opacity));
}
.search-modal__form[data-upgraded='true'] .field__label {
  top: calc(0.75rem + var(--inputs-border-width));
}
.search-modal__form[data-upgraded='true'] .field__input:focus ~ .field__label {
  top: calc(var(--inputs-border-width) + 0.125rem);
}
.search-modal__form[data-upgraded='true'] .field__button {
  height: 4rem;
}
@media (max-width: 1100px) {
  .shopify-section.section-header {
    margin-bottom: 54px !important;
  }
  .search-modal__form[data-upgraded='true'] {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 3rem 1rem;
    background-color: #fff;
  }
  .search-modal__form[data-upgraded='true'],
  .search-modal__form[data-upgraded='true'] .search-modal__form {
    max-width: 100%;
  }

  .search-modal__form[data-upgraded='true'] .field:before,
  .search-modal__form[data-upgraded='true'] .field:after {
	border: none;
	box-shadow: none;
    border-bottom: 1px solid;
  }

  .search-modal__form[data-upgraded='true'] input,
  .search-modal__form[data-upgraded='true'] input:focus,
  .search-modal__form[data-upgraded='true'] input:hover {
	box-shadow: none;
  }
}

  .header__icon:not(.header__icon--summary) {
    margin-left: auto;
  }
  .header__icon--menu[aria-expanded='true']:before {
    z-index: 1;
  }
}
@media (min-width: 1101px) and (max-width: 1300px) {
  .header--middle-left {
    grid-template-columns: auto 1fr 1fr;
  }
}
@media (min-width: 1101px) {
  predictive-search[open] .predictive-search {
    width: 100vw;
    max-width: 750px;
    left: auto;
    right: -1px;
    top: 55px;
    border-top: 1px solid rgba(var(--color-foreground), var(--popup-border-opacity)) !important;
  }
}
.header__menu-item {
  padding-left: 2rem;
  font-weight: 700;
  font-size: 1.6rem;
}
.header__menu-item:hover span,
.header__active-menu-item {
  text-decoration: none;
}
details[open] > .header__menu-item {
  text-decoration: none;
}
details[open] > .header__menu-item::after {
  content: '';
  display: block;
  width: calc(100% - 2.7rem);
  height: 2px;
  background: rgba(var(--color-base-accent-2), 1);
  position: absolute;
  bottom: 12px;
}
.header .mega-menu__link {
  padding-top: 0;
}
.header .mega-menu__link--level-2 {
  font-weight: 700;
}
.header .mega-menu__link--level-2:not(:only-child) {
  margin-bottom: 0;
}
#shopify-section-template--15779855106204__369648eb-eb5b-42a1-b24e-d1fa01d0d60b .gradient,
#shopify-section-template--15779855106204__c6a57786-5a7e-4b06-b2ad-3a33aa7694bb,
#shopify-section-template--15779855106204__c6a57786-5a7e-4b06-b2ad-3a33aa7694bb .gradient,
#shopify-section-template--15779855106204__c381a814-fe0f-472f-aa35-34ec00dc633b,
#shopify-section-template--15779855106204__c381a814-fe0f-472f-aa35-34ec00dc633b .gradient {
  background: #e3f2f3;
}
.product-form__input input[type='radio'] + .color-swatch {
  border: 3px solid #f4f5ff;
  width: 40px;
  height: 40px;
  padding: 0;
}
.product-form__input input[type='radio']:checked + .color-swatch,
.product-form__input input[type='radio']:hover + .color-swatch {
  border: 3px solid #ccd1d1;
}
.product-form__input input[type='radio'] + .swatch {
  border: 3px solid #f4f5ff;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.product-form__input input[type='radio']:checked + .swatch,
.product-form__input input[type='radio']:hover + .swatch {
  border: 3px solid #ccd1d1;
  background: none;
}
.shopify-policy__container {
  padding-top: 28px;
  padding-bottom: 28px;
}
img {
  max-width: 100%;
  height: auto;
}

.shopify-payment-button {
  height: inherit;
  flex: 1 0 calc(50% - 3px);
  max-width: 100% !important;
}
.baby-list-button {
  max-width: 100% !important;
  flex: 1 0 calc(50% - 3px);
  height: 44px !important;
  text-align: center;
}

.product-form__submit {
  margin-bottom: 1rem;
  background-color: #00aea9;
  color: #ffffff;
  --border-offset: 0;
}
.product-form__submit:not([disabled]):hover::after {
  box-shadow: 0 0 0 3px #00aea9;
}
.babylist-button:not([disabled]):hover::after {
  box-shadow: 0 0 0 3px #000000;
}
.select .svg-wrapper, 
.customer select+.svg-wrapper {
	right: .6rem;
}

.cart__ctas {
	margin: 8px 0;
}