.product-sticky-buttons {
	--shadow-opacity: 0;
	--fade-duration: 300ms;
	width: 100%;
	position: fixed;
	background: #ffffff;
	z-index: 99;
	box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.25) ;
	transition:
		opacity var(--fade-duration) ease-in-out,
		transform var(--fade-duration) ease-in-out,
		box-shadow var(--fade-duration) ease-in-out
	;
	gap: 2rem;
	margin: 0;
	padding: 1rem 0;

	&.hidden {
		display: none;
	}

	.page-width {
		display: flex;
		justify-content: space-between;
		gap: 30px
	}

	.product-details {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 30px;
	}

	.product-form__submit {
		margin: 0;
	}
}
@media screen and (max-width: 749px){
	.product-sticky-buttons {
		align-items: center;
		bottom: 0;
		left: 0;
		
		.product-details .product-image,
		.product-title,
		.product-rating {
			display: none;
		}
		.price-item{
			font-size: 2.25rem; margin: 0;
		}

		.product-form__submit {
			padding: 0 2.25rem;
		}
	}
}
@media screen and (min-width: 749px){
	.product-sticky-buttons {
		bottom: 0;
		left: 0;
		opacity: 0;
		transform: translateY(100%);
		pointer-events: none;

		&.stick{
			--shadow-opacity: .08;
			pointer-events: auto;
			transform: translateY(0);
			opacity: 1 !important;
		}

		.product-image,
		.product-image img {
			max-height: 60px;
			width: auto;
		}

		.rating-star::before {
			color: 
		}

		.product-title {
			.primary-title {
				display: block;
				font-size: 2rem;
				text-transform: uppercase;
				color: #000;
				font-weight: 700;
				max-width: 50rem;

				.platform-light {
					font-weight: 300;
				}
			}

			.secondary-title {
				display: block;
				font-size: 1.05rem;
				text-transform: uppercase;
				font-weight: 600;
				max-width: 50rem;
			}
		}

		.product-form {
			margin: 0;
			display: flex;
			align-items: flex-end;
		}

		.price {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: 8px;
			font-size: 1.6rem;
			line-height: 1;
			padding-bottom: .3rem;
		}
	}
}
.product-sticky-buttons .free-shipping-notice {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: .25em;
	margin-top: -1rem;
    margin-bottom: 1rem;
	color: #fff;	
    font-style: normal;
	font-weight: 400;
    font-family: var(--font-body-family);
    letter-spacing: 0;
    line-height: 1;
	background: #000;
}

.product-sticky-buttons .free-shipping-notice img{
	width: 18px;
	height: 18px;
}
.product-sticky-buttons .free-shipping-notice svg{
	width: 20px;
	height: 20px;
}
.product-sticky-buttons .free-shipping-notice .mobile {
	display: none;
}
@media (max-width: 1024px){
	.product-sticky-buttons .free-shipping-notice .mobile {
		display: inline;
	}
	.product-sticky-buttons .free-shipping-notice .desktop {
		display: none;
	}
}