.evenflo-quote-slider-block{
    padding: 40px 0;
}
.evenflo-quote-slider-content {
    background: #f2f2f2;
    padding: 20px;
}
.evenflo-quote-slider-content .evenflo-quote-img-column{
    width: 40%;
    padding: 15px;
  
}
.evenflo-quote-slider-content .evenflo-quote-content-column{
    width: 60%;
    padding: 15px;
  
}
.evenflo-quote-slider-content .evenflo-quote-img {
    text-align: right;
}

.evenflo-quote-slider-content .evenflo-quote-content {
   max-width: 80%;
}

.evenflo-quote-slider-content .evenflo-quote-img img {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1;
}

.evenflo-quote-slider-content .evenflo-quote-content * {
    margin: 0;
}
.evenflo-quote-slider-content .evenflo-quote-content h3 {
    font-size: 20px;
}
.evenflo-quote-slider-content .evenflo-quote-content h1:after {
    content: '';
    width: 105px;
    height: 2px;
    background: #00aea9;
    display: block;
    margin: 10px 0;
}
.evenflo-quote-slider-content .evenflo-quote-content p {
    line-height: 1.2;
}
.evenflo-quote-slider-block .swiper-button-prev,
.evenflo-quote-slider-block .swiper-button-next{
  display: flex;
}
@media screen and (max-width: 991px){
  .evenflo-quote-slider-content{
    flex-direction: column;
    /* width: 100% !important; */
  }
  .evenflo-quote-slider-content .evenflo-quote-img-column,
  .evenflo-quote-slider-content .evenflo-quote-content-column{
    width: 100%;
    padding: 0;
  }
  .evenflo-quote-slider-content .evenflo-quote-img{
    text-align: center;
  }
  .evenflo-quote-slider-content .evenflo-quote-content{
      max-width: 100%;
  }
}