.evenflo-quote-slider-block{
    padding: 40px 0;
}
.evenflo-quote-slider-content {
    display: flex;
    align-items: center;
    background: #f2f2f2;
}
.evenflo-quote-slider-content .evenflo-quote-img-column{
    width: 40%;
    padding: 15px;
  
}
.evenflo-quote-slider-content .evenflo-quote-content-column{
    width: 60%;
    padding: 15px;
  
}
.evenflo-quote-slider-content .evenflo-quote-img {
    text-align: right;
}

.evenflo-quote-slider-content .evenflo-quote-content {
   max-width: 90%;
}

.evenflo-quote-slider-content .evenflo-quote-img img {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1;
}

.evenflo-quote-slider-content .evenflo-quote-content * {
    margin: 0;
}

.evenflo-quote-slider-content .evenflo-quote-content p {
    line-height: 1.2;
}