.evenflo-quote-slider-block{
    padding: 40px 0;
}
.evenflo-quote-slider-content {
    background: #f2f2f2;
    padding: 20px;
}
.evenflo-quote-slider-content .evenflo-quote-img-column{
    width: 40%;
    padding: 15px;
  
}
.evenflo-quote-slider-content .evenflo-quote-content-column{
    width: 60%;
    padding: 15px;
  
}


.evenflo-quote-slider-content .evenflo-quote-content {
   max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.evenflo-quote-slider-content .evenflo-quote-img img {
    max-width: 400px;
    width: 100%;
    aspect-ratio: 1;
  margin: auto;
}

.evenflo-quote-slider-content .evenflo-quote-content * {
    margin: 0;
}
.evenflo-quote-slider-content .evenflo-quote-content h3 {
    font-size: 20px;
}
.evenflo-quote-content h3:last-child {
    display: flex;
    align-items: center;
    gap: 2px;
}
.evenflo-quote-content h3:last-child::before {
    content: '';
    width: 18px;
    height: 2px;
    background: #000;
    display: inline-block;
}


.evenflo-quote-slider-content .evenflo-quote-content h1:after {
    content: '';
    width: 105px;
    height: 2px;
    background: #00aea9;
    display: block;
    margin-top: 10px;
}
.evenflo-quote-slider-content .evenflo-quote-content p {
    line-height: 1.2;
}
.evenflo-quote-slider-block .swiper-button-prev,
.evenflo-quote-slider-block .swiper-button-next{
  display: flex;
}
.evenflo-quote-slider-block .swiper-pagination{
  display: none;
}
@media screen and (max-width: 991px){
  .evenflo-quote-slider-block .page-width{
    background: #f2f2f2; 
  }
  .evenflo-quote-slider-content{
    flex-direction: column;
    padding: 15px 0;
    
  }
  .evenflo-quote-slider-content .evenflo-quote-content h3 {
      font-size: 16px;
  }
  .evenflo-quote-slider-content .evenflo-quote-content h1{
    font-size: 24px;
  }
  .evenflo-quote-slider-content .evenflo-quote-img-column,
  .evenflo-quote-slider-content .evenflo-quote-content-column{
    width: 100%;
    padding: 15px 0;
  }
  .evenflo-quote-slider-content .evenflo-quote-content{
      max-width: 100%;
  }
}






.slim-tab-block {
    padding: 40px 0;
}

.slim-tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slim-tab-block .heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slim-tab-block .heading * {
    margin: 0;
}

.slim-tab-block .heading h1:after {
    content: '';
    width: 100px;
    height: 3px;
    background: #2996c5;
    display: block;
}

.slim-tab-block .heading h1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.slim-tab-header {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.slim-tab-card {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.slim-tab-card * {
    margin: 0;
}

.slim-tab-card button {
    padding: 8px 40px;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    max-width: max-content;
    margin: auto;
}
.slim-tab-card button.active,.slim-tab-card button:hover{
  background: #000;
  color: #ffffff;
}



.slim-tab-body-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.slim-tab-body-content h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.slim-tab-body-content .slim-tab-card {
    width: calc(25% - 22.5px);
}
.slim-tab-body-content .slim-tab-card button{
    background: #000;
    color: #ffffff;
}
.slim-tab-body-content .slim-tab-card button:hover{
  background:transparent;
  color: #000;
}
@media screen and (max-width: 991px){
  .slim-tab-card {
    width: calc(40% - 15px);
    gap: 10px;
  }
  .slim-tab-body-content .slim-tab-card {
    width: calc(33.33% - 20px);
  }
}
@media screen and (max-width: 767px){
  .slim-tab-header,.slim-tab-body-content{
    gap: 10px;
  }
  .slim-tab-card {
    width: calc(50% - 15px);
    gap: 5px;
  }
  .slim-tab-body-content .slim-tab-card {
    width: calc(50% - 15px);
    column-gap: 5px;
  }
}