.evenflo-deal-days-block{
  padding-block: 40px;
}
.evenflo-deal-card-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
}