/* DTC Bundle Items */

.evenflo-dtc-bundle-items {
  background-color: var(--color-evenflo-neutral-50);
}

.evenflo-dtc-bundle-items .evenflo-dtc-bundle-items__header {
  text-align: left;
}

.evenflo-dtc-bundle-items .evenflo-dtc-bundle-items__header .title {
  text-align: left;
}

.evenflo-dtc-bundle-items .evenflo-dtc-bundle-items__header .title::after {
  left: 0;
  transform: none;
}

.evenflo-dtc-bundle-items__subtitle {
  margin: 0.8rem 0 0;
  text-align: left;
}
