h1 {
    text-transform: uppercase;
}


/* Evenflo Menu */
.header__menu-item {
    font-size: 1.3em !important;
}

.mega-menu {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mega-menu__link--level-2 {
    font-weight: bold;
}

/* Product Fonts */
h3.card__information {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
}