.join .background-image {
  padding: 15px;
  background: url(https://cdn.shopify.com/s/files/1/0512/2359/3116/files/bg_join-the-clug.jpg?v=1688739716) center right
    no-repeat;
  background-size: cover;
}

.join .content {
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
}

.join .content p {
  margin-top: 0;
  color: #fff;
}

.join a.button--primary {
  gap: .5em;
}

a.button.button--primary--alt {
  border: 1px solid transparent;
  background-color:rgb(41, 150, 197);
  transition: all .3s ease-in-out;
}

a.button.button--primary--alt {
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
      rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 var(--buttons-border-width)
      rgba(41, 150, 197, var(--alpha-button-background));
}
a.button.button--primary--alt:hover::before,
a.button.button--primary--alt:hover::after{
  --border-offset: 1.3px;
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset))
      rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 calc(var(--buttons-border-width) + 1px)
      rgba(41, 150, 197, var(--alpha-button-background));
}



.join .content .button + .button {
  margin-top: 20px;
}

@media screen and (min-width: 750px) {
	.join .background-image,
	.join .content {
		padding: 30px;
	}
}

@media screen and (min-width: 990px) {
  .join .background-image {
	min-height: 300px;
	padding: 60px;
  }

  .join .content {
	padding: 46px 30px;
    max-width: 525px;
  }

  .join .content p {
    max-width: 90%;
  }

  .join .content .button + .button {
    margin-top: 0;
    margin-left: 50px;
  }
}
