.collection__title.title-wrapper {
    text-align: center;
}
.collection__title.title-wrapper h2{
    text-transform: uppercase;
    font-weight: 700;
}
.card__heading.h5{
  font-size: 18px;
  font-weight: 700;
}
