/* h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'mr-eaves-modern', sans-serif;
  font-style: var(--font-heading-style);
  font-weight: 700;
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  color: rgb(var(--color-foreground));
  line-height: calc(1 / max(1, var(--font-heading-scale)));
  word-break: break-word;
  text-transform: uppercase;
}
.heading-underline {
  position: relative;
}

.heading-underline::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: #2996c5;
}

.product__title h1 {
  text-transform: uppercase;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 900;
  font-size: 2.2em;
}

.product__title h1 .platform-light {
  font-weight: 300 !important;
}

.product__title h2 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.25em;
}

h3 {
  text-transform: uppercase;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-size: 2em;
} */

/* Evenflo Menu */
/* .header__menu-item {
  font-size: 1em !important;
  font-weight: 700 !important;
}

.mega-menu {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header__menu-item:hover span,
.header__active-menu-item {
  text-decoration: none;
}

details[open] > .header__menu-item {
  text-decoration: none;
} */

/* Product Fonts */
/* h3.card__information {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rich-text__heading {
  text-transform: uppercase;
  font-family: 'mr-eaves-modern', sans-serif !important;
  font-weight: bold !important;
}

.rich-text__heading.evenflo {
  font-family: 'mr-eaves-modern', sans-serif !important;
  position: relative;
  display: inline-block;
}

.collection-hero.collection-hero--with-image {
  padding: 0px !important;
}

.image-with-text__heading.h1 {
  font-family: 'mr-eaves-modern', sans-serif !important;
  text-transform: uppercase !important;
}

.image-with-text__heading.h1::after {
  content: '';
  display: block;
  width: 150px;
  height: 3px;
  background-color: #2595c4;
  margin-top: 10px;
  text-align: center;
}

.divider {
  width: 40%;
  height: 0;
  border-bottom: 1px solid rgba(var(--color-base-accent-2), 1);
  margin: 0 auto;
}

.div:empty {
  display: block !important;
}

.image-with-text__heading {
  display: inline-block;
  position: relative;
}

.image-with-text__heading::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 80px;
  height: 3px;
  background-color: blue !important;
}

.button,
.shopify-challenge__button,
.customer button {
  text-transform: uppercase;
} */

/* EvenFlo Custom CSS */
#Slide-template--16778004136092__d45dc6d8-bad2-45d5-998a-7fec4800d3ad-1
  h3.inline-richtext.heading-underline.heading-underline-center {
  text-align: left !important;
}

#Slide-template--16778004136092__d45dc6d8-bad2-45d5-998a-7fec4800d3ad-1
  h3.inline-richtext.heading-underline.heading-underline-center:after {
  display: none;
}
#Slider-template--16778003120284__bd8466a5-5044-45aa-89dc-ed149e420bc0 .multicolumn-card {
  height: 100%;
}
