    
.breadcrumbs {
        /* padding: 1rem 5rem; */
		margin-top: 32px;
		margin-bottom: 32px;
    }

    .breadcrumbs li {
        display: inline-block;
    }

    .breadcrumbs a {
        text-decoration: none;
        /*Will put liquid customization here*/
        font-size: 16px;
        color: inherit;
    }

    .breadcrumb-delimeter:not(:last-child):after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        width: 9px;
        height: 9px;
        margin-left: 16px;
        margin-right: 16px;
        border-right: 1px solid #444444;
        border-bottom: 1px solid #444444;
        transform: rotate(-45deg);
        vertical-align: middle;
    }

    .breadcrumbs [aria-current="page"] {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
    }

    @media screen and (max-width: 749px) {
		.breadcrumbs {
			margin-top: 16px;
			margin-bottom: 16px;
		}

		.breadcrumbs a {
			font-size: 14px;
		}

		.breadcrumb-delimeter:not(:last-child):after {
			width: 8px;
			height: 8px;
			margin-left: 8px;
			margin-right: 8px;
		}
    }