.product__title h1 {
  text-transform: uppercase;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 900;
  font-size: 2.2em;
}

.product__title h1 .platform-light {
  font-weight: 300 !important;
}

.product__title h2 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.25em;
}

h3 {
  text-transform: uppercase;
  font-family: mr-eaves-modern, sans-serif;
  font-style: normal;
  font-size: 2em;
}

/* Evenflo Menu */
.header__menu-item {
  font-size: 1.3em !important;
}

.mega-menu {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

/* Product Fonts */
h3.card__information {
  font-family: 'mr-eaves-modern', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rich-text__heading {
  text-transform: uppercase;
  font-family: 'mr-eaves-modern', sans-serif !important;
  font-weight: bold !important;
}

.rich-text__heading.evenflo {
  font-family: 'mr-eaves-modern', sans-serif !important;
  position: relative;
  display: inline-block;
}

.collection-hero.collection-hero--with-image {
  padding: 0px !important;
}

.image-with-text__heading.h1 {
  font-family: 'mr-eaves-modern', sans-serif !important;
  text-transform: uppercase !important;
}

.image-with-text__heading.h1::after {
  content: '';
  display: block;
  width: 150px;
  height: 3px;
  background-color: #2595c4;
  margin-top: 10px;
  text-align: center;
}

.divider {
  width: 40%;
  height: 0;
  border-bottom: 1px solid rgba(var(--color-base-accent-2), 1);
  margin: 0 auto;
}

.div:empty {
  display: block !important;
}

.image-with-text__heading {
  display: inline-block;
  position: relative;
}

.image-with-text__heading::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 80px;
  height: 3px;
  background-color: blue !important;
}

/* Evenflo Cart */
.drawer__heading {
  font-size: calc(var(--font-heading-scale) * 2.4rem) !important;
  margin: 0 0 1rem;
}

/*  */