--gallery-gap: 20px;
.image-gallery-wrapper {
  display: flex;
  gap: var(--gallery-gap);
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.image-gallery-item {
  width: 25%;
}
.image-gallery-wrapper .image-gallery-item img {
  width: 100%;
  object-fit: cover;

  margin: 0 !important;
}

.image-gallery-item img:first-child {
  height: 250px;
}

.image-gallery-item img:last-child {
  height: 350px;
}

.image-gallery-item img {
  object-fit: cover;
  margin: 0 !important;
}

.image-gallery-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-gallery-item:nth-child(odd) {
  flex-direction: column-reverse;
}
