div.content {
  padding: 30px 0 15px;
}

a.manual-btn-text {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 15px;
}

.manual-buttons-div {
  padding-top: 10px;
  display: inline-block !important;
}

.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
div.manual-tile {
  margin-bottom: 30px;
}
.one-half {
  width: calc(50% - 20px);

p.manual-title {
  font-weight: bold;
  margin-left: 25px;
  margin-top: 10px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00aea9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00aea9 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.manual-app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.manual-title-and-picture {
  display: flex;
  align-items: center;
  justify-content: left;
}

div.manual-tile {
  margin-bottom: 30px;
}

h3.category-title {
  font-size: 38px;
}

.filters {
  padding-left: 15px;
}

.manual-buttons-div {
  padding-top: 10px;
  display: inline-block !important;
}

.filter-button {
  margin-left: 10px;
  min-width: 155px;
  padding: 0 10px;
}

.filter-label {
  padding-top: 5px;
}

.select-dropdown {
  min-width: 12vw;
  padding-top: 3px;
}

.disabled-btn {
  visibility: hidden;
  clear: both;
  display: none;
}

div.manual-col {
  width: auto;
}

.mobile-divider {
  visibility: hidden;
  display: none;
}

a.manual-btn-text {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

div.manual-container-fix,
div.manual-container-fix .columns {
  margin-left: 0;
  margin-right: 0;
}

.left-manual-copy-column {
  padding-right: 15px;
}
.right-manual-copy-column {
  padding-left: 15px;
}

.manuals-play-button {
  height: 36px !important;
}

.language-mobile {
  display: none;
}

p.language-desktop, p.language-mobile {
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  .mobile-divider {
    visibility: visible;
    display: block;
  }

  .left-manual-copy-column {
    padding-right: 0px;
  }
  .right-manual-copy-column {
    padding-left: 0px;
  }

  .filter-label {
    visibility: hidden;
    clear: both;
    display: none;
  }

  div.manual-list h2 {
    margin-top: 10px;
  }

  div.manual-list {
    padding-bottom: 20px;
  }

  .manuals-play-button {
    height: 100% !important;
  }

}

@media screen and (max-width: 576px) {
  a.manual-btn-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  a.manual-btn-text {
    font-size: 14px;
    padding: 0 10px;
  }

  .filter-button {
    font-size: 14px !important;
    margin-left: 10 !important;
  }

  .language-desktop {
    display: none !important;
  }

  .language-mobile {
    display: inline !important;
  }
}

@media screen and (max-width: 350px) {
  a.manual-btn-text {
    font-size: 12px;
    padding: 0 10px;
  }
  .filters {
    padding: 0;
  }

  .filter-button {
    margin: 0;
    min-width: 130px;
  }
}

@media screen and (max-width: 300px) {
  a.manual-btn-text {
    font-size: 12px;
    padding: 0 10px;
  }
  .filters {
    padding: 0;
  }
}
