
.slim-tab-card button {
	padding: 8px 20px;
}

.product-tab-block .scroller-wrapper {
  display: flex;
  position: relative;
  gap: 32px;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  columns: 1;
  text-align: left;
  padding-bottom: 32px;
}
.product-tab-block .scroller-wrapper::-webkit-scrollbar {
    display: none;
}
.product-tab-block .slim-tab-header {
  position: relative;
}
.product-tab-block .scroller-wrapper::scroll-button(*) {
  border: 0;
  font-size: 1rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 140px;
  overflow: hidden;
  color: transparent;
  padding: 0;

}
.product-tab-block .scroller-wrapper::scroll-button(*):hover,
.product-tab-block .scroller-wrapper::scroll-button(*):focus {
  opacity: 1;
}

.product-tab-block .scroller-wrapper::scroll-button(*):active {
  translate: 1px 1px;
}

.product-tab-block .scroller-wrapper::scroll-button(*):disabled {
  opacity: .25;
  cursor: unset;
}

.product-tab-block .scroller-wrapper::scroll-button(left) {
  content: "Prev";
  background-image: url('data:image/svg+xml,<svg width="32px" height="32px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.891 17.418c.268.272.268.709 0 .979s-.701.271-.969 0l-7.83-7.908a.697.697 0 0 1 0-.979l7.83-7.908a.68.68 0 0 1 .969 0 .697.697 0 0 1 0 .979L6.75 10l7.141 7.418z" fill="%00aea8"/></svg>');
  left: 50%;
  background-color: red;

}

.product-tab-block .scroller-wrapper::scroll-button(right) {
  content: "Next";
  right: 50%;
  background-color: blue;

  background-image: url('data:image/svg+xml,<svg width="32px" height="32px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="%00aea8" d="M13.25 10L6.109 2.58a.697.697 0 0 1 0-.979.68.68 0 0 1 .969 0l7.83 7.908a.697.697 0 0 1 0 .979l-7.83 7.908a.68.68 0 0 1-.969 0 .697.697 0 0 1 0-.979L13.25 10z" /></svg>');
}

  .product-tab-block .slim-tab-col.scroller-item {
  width: calc( 25% - 22px );
  max-width: 405px;
  min-width: 100px;
  
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease-in-out;
}






@media(max-width: 767px){
  
  .product-tab-block .slim-tab-col.scroller-item {
    width: calc(60% - 16px)!important;
    max-width: 405px;
    min-width: 300px;
  }
}
@media (min-width: 1024px){


  .product-tab-block .scroller-wrapper::scroll-button(*) {
    width: 50px;
    height: 50px;
  }
}
