.product-highlights .content-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-highlights h3 {
  margin-bottom: 18px;
  color: #fff;
}

.product-highlights a {
  color: #fff;
}

.product-highlights .right a {
  color: #000;
}

.product-highlights .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px -1.5rem;
}

.product-highlights .flex-item {
  padding: 0 30px;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 560px) {
  .product-highlights .flex-item {
    width: 50%;
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 990px) {
  .product-highlights .flex-item {
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product-highlights .see-more {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
}

.product-highlights.anchor-gradient {
  background: linear-gradient(#00aea9, #cbdc82);
}
