.support .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

.support .flex-item {
  flex-basis: 20%;
  padding: 5px;
  margin: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
