.pdp-support {
  padding-bottom: 40px;
}

.pdp-support .flex-row {
  display: flex;
  flex-wrap: wrap;
}

.pdp-support .row-title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pdp-support .flex-item {
  flex-basis: 100%;
  max-width: 100%;
}

.pdp-support h3,
.flex-item-small h3 {
  font-weight: normal;
  padding-bottom: 0px !important;
}

.pdp-support p,
.flex-item-small p {
  padding-top: 0px !important;
}

.pdp-support h3 strong {
  font-weight: bold;
}

.pdp-support h4 {
  margin-bottom: 8px;
}

.pdp-support .pdp-support__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.pdp-support__container .flex-item-small,
.pdp-support__container .flex-item-third,
.pdp-support__container .statement {
  flex-basis: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pdp-support .pdp-support__column {
  padding: 0 15px;
  flex-basis: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 560px) {
  .pdp-support .pdp-support__column {
    width: 50%;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
