.peace-of-mind {
   padding-top: 80px;
   padding-bottom: 80px;
  }

  .peace-of-mind__container {
    display: flex;
    flex-wrap: wrap;
  }

  .peace-of-mind__column {
    flex: 1;
    padding: 20px;
    /* Add any 