.pdp-support {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pdp-support .flex-row {
  display: flex;
  flex-wrap: wrap;
}

.pdp-support .flex-item {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.pdp-support h3 {
  font-weight: normal;
  padding-bottom { 0px !important }
}

.pdp-support p { padding-top: 0px !important}

.pdp-support h3 strong {
  font-weight: bold;
}

@media screen and (min-width: 560px) {
  .pdp-support .pdp-support__column {
    width: 50%;
    flex: 0 0 auto;
  }
}
