.support .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

.support .flex-item {
  flex-basis: 20%;
  padding: 5px;
  margin: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.pdp-specification-bullet-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.pdp-in-the-box h3 {
  color: #000;
  font-size: 20px;
  text-transform: none;
  margin-bottom: 0;
}

.pdp-specification-bullet-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pdp-specification-bullet-row > div {
  flex: 0 0 50%;
  max-width: 50%;
}
