.benefits .content-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.benefits h3 {
  margin-bottom: 18px;
}

.benefits .rich-text__text {
  color: #000;
}

.benefits .flex-row {
  display: flex;
  /* justify-content: space-between; */
}

.benefits .flex-item {
  margin: 0 30px;
  flex: 1;
}

.benefits.anchor-gradient {
  background: linear-gradient(#00b1b0, #c1db95);
}
