.join {
  padding-bottom: 80px;
}

.join .background-image {
  min-height: 300px;
  padding: 60px;
  background: url(https://cdn.shopify.com/s/files/1/0512/2359/3116/files/bg_join-the-clug.jpg?v=1688739716) no-repeat;
  background-size: cover;
}

.join .content {
  padding: 46px 30px;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 990px) {
  .join .content {
    max-width: 425px;
  }
}

.join .content p {
  max-width: 90%;
  margin-top: 0;
  color: #fff;
}

.join .content .button + .button {
  margin-left: 50px;
}
