.new-custom-banner {
  background-size: cover;
  background-position: center;
  padding: clamp(40px, 9vw, 150px) 0;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.new-custom-banner .heading h1 {
  margin: 0;
  font-size: clamp(36px, 7vw, 100px);
  line-height: 1;
}

.new-custom-banner .page-width {
  width: 100%;
}

.new-custom-banner:after {
  content: "";
  position: absolute;
  inset: 0;
}
