.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}


.related-products .product-name {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.related-products .product-type {
        font-size: 18px;
        color: black;

}