.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}


/* Evenflo */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.column {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 30px;
}

@media screen and (min-width: 990px) {
  .one-third {
    width: 33.3333%;
    flex: 0 0 auto;
  }
}
.custom-swipper-slider .swiper-button-prev,.custom-swipper-slider .swiper-button-next {
    display: block;
}