.product-recommendations {
  display: block;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.related-products .product-name {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.related-products .product-type {
        font-size: 18px;
        color: black;

}