.category-anchors .content-container {
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.category-anchors h2 {
  margin-bottom: 18px;
  color: #000;
}

.category-anchors .flex-item {
  display: block;
  text-align: center;
  margin: 0 10px;
}

@media screen and (min-width: 990px) {
  .category-anchors .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .category-anchors .flex-item {
    flex: 1;
  }
}

.category-anchors .rich-text__text {
  max-width: 960px;
  margin: 0 auto;
}

.category-anchors .category-anchor a {
  position: relative;
  color: #000;
  font-family: 'mr-eaves-modern', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.category-anchors .category-anchor a:hover::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
  height: 3px;
  background: rgba(var(--color-base-accent-2), 1);
}

.category-anchors.anchor-gradient {
  background: linear-gradient(#00aea9, #cbdc82);
}
