  .evenflo-multicolumn-slider .page-width {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .row.cc-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .row > .one-third {
    width: 33.3333%;
    flex: 0 0 auto;
  }

  @media screen and (max-width: 1300px) {
    .row > .one-third {
      width: 50%;
      flex: 0 0 auto;
    }
  }
  @media screen and (max-width: 1000px) {
    .row > .one-third {
      width: 100%;
      flex: 0 0 auto;
    }
  }

.swiper-button-next svg {color:#00aea9 !important}