{% assign tag = 'your-tag-name' %}
{% assign blog_handle = 'your-blog-handle' %}
{% paginate blogs[blog_handle].articles by 12 %}
  {% for article in blogs[blog_handle].articles %}
    {% if article.tags contains tag %}
      <div class="article">
        <h2>
          <a href="{{ article.url }}">{{ article.title }}</a>
        </h2>
        <div>{{ article.excerpt | strip_html | truncate: 150 }}</div>
      </div>
    {% endif %}
  {% endfor %}
{% endpaginate %}
